@model double
<div class="absolute bg-orange-100 opacity-60 text-xs italic flex items-center justify-center h-full"
     style="width:calc(var(--day-width)*@(Model.ToString("0.###", System.Globalization.CultureInfo.InvariantCulture)));">
    Changeover
</div>
