@* _JobBlock.cshtml *@
@model OpCentrix.Models.ScheduledJob

<div class="rounded text-sm text-white px-2 py-1 @Model.StatusClass">
    @Model.PartNumber (@Model.DurationDays d)
    <div class="text-xs">Status: @Model.Status</div>
</div>
