@* _MachineRow.cshtml *@
@model OpCentrix.Models.MachineViewModel

<div id="row_@Model.Id" class="flex flex-col gap-1">
    <div class="text-sm font-semibold text-gray-700 pl-2">@Model.Name</div>
    <div class="grid machine-grid gap-1 overflow-x-auto" style="grid-template-columns:repeat(@ViewData[\"TotalHours\"], minmax(var(--cell-width,60px),1fr))">
        @foreach (var job in Model.Jobs)
        {
            <div class="relative col-span-@((int)Math.Ceiling(job.DurationMinutes / 60.0))">
                @await Html.PartialAsync("_JobBlock", job)
            </div>
        }
    </div>
</div>
