CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (

    "MigrationId" TEXT NOT NULL CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY,

    "ProductVersion" TEXT NOT NULL

);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "JobLogEntries" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_JobLogEntries" PRIMARY KEY AUTOINCREMENT,

    "Timestamp" TEXT NOT NULL,

    "MachineId" TEXT NOT NULL,

    "PartNumber" TEXT NOT NULL,

    "Action" TEXT NOT NULL,

    "Notes" TEXT NULL,

    "Operator" TEXT NULL

);
CREATE TABLE IF NOT EXISTS "AdminAlerts" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_AdminAlerts" PRIMARY KEY AUTOINCREMENT,

    "AlertName" TEXT NOT NULL,

    "Description" TEXT NOT NULL,

    "Category" TEXT NOT NULL DEFAULT 'System',

    "TriggerType" TEXT NOT NULL,

    "TriggerConditions" TEXT NOT NULL DEFAULT '{}',

    "SeverityLevel" INTEGER NOT NULL DEFAULT 3,

    "IsActive" INTEGER NOT NULL DEFAULT 1,

    "EmailRecipients" TEXT NOT NULL,

    "EmailSubject" TEXT NOT NULL DEFAULT 'OpCentrix Alert: {AlertName}',

    "EmailTemplate" TEXT NOT NULL,

    "SendSms" INTEGER NOT NULL DEFAULT 0,

    "SmsRecipients" TEXT NOT NULL,

    "SmsTemplate" TEXT NOT NULL,

    "SendBrowserNotification" INTEGER NOT NULL DEFAULT 1,

    "CooldownMinutes" INTEGER NOT NULL DEFAULT 15,

    "LastTriggered" TEXT NULL,

    "TriggerCount" INTEGER NOT NULL DEFAULT 0,

    "EscalationRules" TEXT NOT NULL DEFAULT '{}',

    "BusinessHoursOnly" INTEGER NOT NULL DEFAULT 0,

    "BusinessHoursStart" TEXT NOT NULL,

    "BusinessHoursEnd" TEXT NOT NULL,

    "BusinessDays" TEXT NOT NULL DEFAULT '1,2,3,4,5',

    "MaxAlertsPerDay" INTEGER NOT NULL DEFAULT 10,

    "TriggersToday" INTEGER NOT NULL DEFAULT 0,

    "LastDailyReset" TEXT NOT NULL DEFAULT (date('now')),

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "LastModifiedBy" TEXT NOT NULL DEFAULT 'System'

);
CREATE TABLE IF NOT EXISTS "DefectCategories" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_DefectCategories" PRIMARY KEY AUTOINCREMENT,

    "Name" TEXT NOT NULL,

    "Description" TEXT NOT NULL,

    "Code" TEXT NOT NULL,

    "SeverityLevel" INTEGER NOT NULL DEFAULT 3,

    "IsActive" INTEGER NOT NULL DEFAULT 1,

    "CategoryGroup" TEXT NOT NULL DEFAULT 'General',

    "ApplicableProcesses" TEXT NOT NULL,

    "StandardCorrectiveActions" TEXT NOT NULL,

    "PreventionMethods" TEXT NOT NULL,

    "RequiresImmediateNotification" INTEGER NOT NULL DEFAULT 0,

    "CostImpact" TEXT NOT NULL DEFAULT 'Medium',

    "AverageResolutionTimeMinutes" INTEGER NOT NULL DEFAULT 30,

    "SortOrder" INTEGER NOT NULL DEFAULT 100,

    "ColorCode" TEXT NOT NULL DEFAULT '#6B7280',

    "Icon" TEXT NOT NULL DEFAULT 'exclamation-triangle',

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "LastModifiedBy" TEXT NOT NULL DEFAULT 'System'

);
CREATE TABLE IF NOT EXISTS "FeatureToggles" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_FeatureToggles" PRIMARY KEY AUTOINCREMENT,

    "FeatureName" TEXT NOT NULL,

    "DisplayName" TEXT NOT NULL,

    "Description" TEXT NOT NULL,

    "IsEnabled" INTEGER NOT NULL DEFAULT 0,

    "Category" TEXT NOT NULL DEFAULT 'General',

    "Environment" TEXT NOT NULL DEFAULT 'All',

    "RequiredRole" TEXT NOT NULL DEFAULT 'User',

    "RolloutPercentage" INTEGER NOT NULL DEFAULT 100,

    "StartDate" TEXT NULL,

    "EndDate" TEXT NULL,

    "RequiresRestart" INTEGER NOT NULL DEFAULT 0,

    "Dependencies" TEXT NOT NULL,

    "Conflicts" TEXT NOT NULL,

    "Configuration" TEXT NOT NULL DEFAULT '{}',

    "UsageCount" INTEGER NOT NULL DEFAULT 0,

    "LastUsed" TEXT NULL,

    "PerformanceNotes" TEXT NOT NULL,

    "SecurityNotes" TEXT NOT NULL,

    "IntroducedInVersion" TEXT NOT NULL,

    "PlannedRemovalVersion" TEXT NOT NULL,

    "Status" TEXT NOT NULL DEFAULT 'Experimental',

    "SortOrder" INTEGER NOT NULL DEFAULT 100,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "LastModifiedBy" TEXT NOT NULL DEFAULT 'System'

);
CREATE TABLE IF NOT EXISTS "OperatingShifts" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_OperatingShifts" PRIMARY KEY AUTOINCREMENT,

    "DayOfWeek" INTEGER NOT NULL,

    "StartTime" TEXT NOT NULL,

    "EndTime" TEXT NOT NULL,

    "IsHoliday" INTEGER NOT NULL DEFAULT 0,

    "IsActive" INTEGER NOT NULL DEFAULT 1,

    "Description" TEXT NOT NULL,

    "SpecificDate" TEXT NULL,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "LastModifiedBy" TEXT NOT NULL DEFAULT 'System'

);
CREATE TABLE IF NOT EXISTS "RolePermissions" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_RolePermissions" PRIMARY KEY AUTOINCREMENT,

    "RoleName" TEXT NOT NULL,

    "PermissionKey" TEXT NOT NULL,

    "HasPermission" INTEGER NOT NULL DEFAULT 0,

    "PermissionLevel" TEXT NOT NULL DEFAULT 'Read',

    "Category" TEXT NOT NULL DEFAULT 'General',

    "Description" TEXT NOT NULL,

    "IsActive" INTEGER NOT NULL DEFAULT 1,

    "Priority" INTEGER NOT NULL DEFAULT 100,

    "Constraints" TEXT NOT NULL DEFAULT '{}',

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "LastModifiedBy" TEXT NOT NULL DEFAULT 'System'

);
CREATE TABLE IF NOT EXISTS "SystemSettings" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_SystemSettings" PRIMARY KEY AUTOINCREMENT,

    "SettingKey" TEXT NOT NULL,

    "SettingValue" TEXT NOT NULL,

    "DataType" TEXT NOT NULL DEFAULT 'String',

    "Category" TEXT NOT NULL DEFAULT 'General',

    "Description" TEXT NOT NULL,

    "DefaultValue" TEXT NOT NULL,

    "IsActive" INTEGER NOT NULL DEFAULT 1,

    "IsReadOnly" INTEGER NOT NULL DEFAULT 0,

    "RequiresRestart" INTEGER NOT NULL DEFAULT 0,

    "ValidationRules" TEXT NOT NULL,

    "DisplayOrder" INTEGER NOT NULL DEFAULT 100,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "LastModifiedBy" TEXT NOT NULL DEFAULT 'System'

);
CREATE INDEX "IX_AdminAlerts_AlertName" ON "AdminAlerts" ("AlertName");
CREATE INDEX "IX_AdminAlerts_Category" ON "AdminAlerts" ("Category");
CREATE INDEX "IX_AdminAlerts_IsActive" ON "AdminAlerts" ("IsActive");
CREATE INDEX "IX_AdminAlerts_LastTriggered" ON "AdminAlerts" ("LastTriggered");
CREATE INDEX "IX_AdminAlerts_SeverityLevel" ON "AdminAlerts" ("SeverityLevel");
CREATE INDEX "IX_AdminAlerts_TriggerType" ON "AdminAlerts" ("TriggerType");
CREATE INDEX "IX_DefectCategories_CategoryGroup" ON "DefectCategories" ("CategoryGroup");
CREATE INDEX "IX_DefectCategories_Code" ON "DefectCategories" ("Code");
CREATE INDEX "IX_DefectCategories_IsActive" ON "DefectCategories" ("IsActive");
CREATE INDEX "IX_DefectCategories_Name" ON "DefectCategories" ("Name");
CREATE INDEX "IX_DefectCategories_SeverityLevel" ON "DefectCategories" ("SeverityLevel");
CREATE INDEX "IX_FeatureToggles_Category" ON "FeatureToggles" ("Category");
CREATE INDEX "IX_FeatureToggles_Environment" ON "FeatureToggles" ("Environment");
CREATE UNIQUE INDEX "IX_FeatureToggles_FeatureName" ON "FeatureToggles" ("FeatureName");
CREATE INDEX "IX_FeatureToggles_IsEnabled" ON "FeatureToggles" ("IsEnabled");
CREATE INDEX "IX_FeatureToggles_RequiredRole" ON "FeatureToggles" ("RequiredRole");
CREATE INDEX "IX_FeatureToggles_Status" ON "FeatureToggles" ("Status");
CREATE INDEX "IX_OperatingShifts_DayOfWeek" ON "OperatingShifts" ("DayOfWeek");
CREATE INDEX "IX_OperatingShifts_DayOfWeek_IsActive" ON "OperatingShifts" ("DayOfWeek", "IsActive");
CREATE INDEX "IX_OperatingShifts_IsActive" ON "OperatingShifts" ("IsActive");
CREATE INDEX "IX_OperatingShifts_IsHoliday" ON "OperatingShifts" ("IsHoliday");
CREATE INDEX "IX_OperatingShifts_SpecificDate" ON "OperatingShifts" ("SpecificDate");
CREATE INDEX "IX_RolePermissions_Category" ON "RolePermissions" ("Category");
CREATE INDEX "IX_RolePermissions_IsActive" ON "RolePermissions" ("IsActive");
CREATE INDEX "IX_RolePermissions_PermissionKey" ON "RolePermissions" ("PermissionKey");
CREATE INDEX "IX_RolePermissions_RoleName" ON "RolePermissions" ("RoleName");
CREATE UNIQUE INDEX "IX_RolePermissions_RoleName_PermissionKey" ON "RolePermissions" ("RoleName", "PermissionKey");
CREATE INDEX "IX_SystemSettings_Category" ON "SystemSettings" ("Category");
CREATE INDEX "IX_SystemSettings_Category_DisplayOrder" ON "SystemSettings" ("Category", "DisplayOrder");
CREATE INDEX "IX_SystemSettings_IsActive" ON "SystemSettings" ("IsActive");
CREATE UNIQUE INDEX "IX_SystemSettings_SettingKey" ON "SystemSettings" ("SettingKey");
CREATE TABLE IF NOT EXISTS "JobNotes" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_JobNotes" PRIMARY KEY AUTOINCREMENT,

    "JobId" INTEGER NOT NULL,

    "Step" TEXT NOT NULL,

    "Note" TEXT NOT NULL,

    "StepTime" TEXT NULL,

    "Priority" INTEGER NOT NULL DEFAULT 3,

    "NoteType" TEXT NOT NULL DEFAULT 'Info',

    "IsCompleted" INTEGER NOT NULL,

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedBy" TEXT NOT NULL DEFAULT 'System',

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "PartId" INTEGER NULL,

    CONSTRAINT "FK_JobNotes_Jobs_JobId" FOREIGN KEY ("JobId") REFERENCES "Jobs" ("Id") ON DELETE CASCADE,

    CONSTRAINT "FK_JobNotes_Parts_PartId" FOREIGN KEY ("PartId") REFERENCES "Parts" ("Id")

);
CREATE TABLE IF NOT EXISTS "StageNotes" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_StageNotes" PRIMARY KEY AUTOINCREMENT,

    "StageId" INTEGER NOT NULL,

    "Note" TEXT NOT NULL,

    "NoteType" TEXT NOT NULL DEFAULT 'Info',

    "Priority" INTEGER NOT NULL DEFAULT 3,

    "IsPublic" INTEGER NOT NULL,

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    CONSTRAINT "FK_StageNotes_JobStages_StageId" FOREIGN KEY ("StageId") REFERENCES "JobStages" ("Id") ON DELETE CASCADE

);
CREATE INDEX "IX_JobNotes_IsCompleted" ON "JobNotes" ("IsCompleted");
CREATE INDEX "IX_JobNotes_JobId" ON "JobNotes" ("JobId");
CREATE INDEX "IX_JobNotes_JobId_Step" ON "JobNotes" ("JobId", "Step");
CREATE INDEX "IX_JobNotes_PartId" ON "JobNotes" ("PartId");
CREATE INDEX "IX_JobNotes_Priority" ON "JobNotes" ("Priority");
CREATE INDEX "IX_StageNotes_CreatedDate" ON "StageNotes" ("CreatedDate");
CREATE INDEX "IX_StageNotes_NoteType" ON "StageNotes" ("NoteType");
CREATE INDEX "IX_StageNotes_Priority" ON "StageNotes" ("Priority");
CREATE INDEX "IX_StageNotes_StageId" ON "StageNotes" ("StageId");
CREATE TABLE IF NOT EXISTS "BuildJobParts" (

    "PartEntryId" INTEGER NOT NULL CONSTRAINT "PK_BuildJobParts" PRIMARY KEY AUTOINCREMENT,

    "BuildId" INTEGER NOT NULL,

    "BuildJobBuildId" INTEGER NULL,

    "CreatedAt" TEXT NOT NULL,

    "CreatedBy" TEXT NOT NULL,

    "Description" TEXT NULL,

    "EstimatedHours" REAL NOT NULL,

    "IsPrimary" INTEGER NOT NULL,

    "Material" TEXT NULL,

    "PartNumber" TEXT NOT NULL,

    "Quantity" INTEGER NOT NULL,

    CONSTRAINT "FK_BuildJobParts_BuildJobs_BuildJobBuildId" FOREIGN KEY ("BuildJobBuildId") REFERENCES "BuildJobs" ("BuildId")

);
CREATE TABLE IF NOT EXISTS "DelayLogs" (

    "DelayId" INTEGER NOT NULL CONSTRAINT "PK_DelayLogs" PRIMARY KEY AUTOINCREMENT,

    "BuildId" INTEGER NOT NULL,

    "BuildJobBuildId" INTEGER NULL,

    "CreatedAt" TEXT NOT NULL,

    "CreatedBy" TEXT NOT NULL,

    "DelayDuration" INTEGER NOT NULL,

    "DelayReason" TEXT NOT NULL,

    "Description" TEXT NULL,

    CONSTRAINT "FK_DelayLogs_BuildJobs_BuildJobBuildId" FOREIGN KEY ("BuildJobBuildId") REFERENCES "BuildJobs" ("BuildId")

);
CREATE TABLE IF NOT EXISTS "UserSettings" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_UserSettings" PRIMARY KEY AUTOINCREMENT,

    "BrowserNotifications" INTEGER NOT NULL,

    "CreatedDate" TEXT NOT NULL,

    "DefaultPage" TEXT NOT NULL,

    "EmailNotifications" INTEGER NOT NULL,

    "ItemsPerPage" INTEGER NOT NULL,

    "LastModifiedDate" TEXT NOT NULL,

    "SessionTimeoutMinutes" INTEGER NOT NULL,

    "Theme" TEXT NOT NULL,

    "TimeZone" TEXT NOT NULL,

    "UserId" INTEGER NOT NULL, "SchedulerOrientation" TEXT NOT NULL DEFAULT '',

    CONSTRAINT "FK_UserSettings_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "Users" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Users" PRIMARY KEY AUTOINCREMENT,

    "CreatedBy" TEXT NOT NULL,

    "CreatedDate" TEXT NOT NULL,

    "Department" TEXT NOT NULL,

    "Email" TEXT NOT NULL,

    "FullName" TEXT NOT NULL,

    "IsActive" INTEGER NOT NULL,

    "LastLoginDate" TEXT NOT NULL,

    "LastModifiedBy" TEXT NOT NULL,

    "LastModifiedDate" TEXT NOT NULL,

    "PasswordHash" TEXT NOT NULL,

    "Role" TEXT NOT NULL,

    "Username" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "InspectionCheckpoints" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_InspectionCheckpoints" PRIMARY KEY AUTOINCREMENT,

    "AcceptanceCriteria" TEXT NOT NULL,

    "Category" TEXT NOT NULL DEFAULT 'Quality',

    "CheckpointName" TEXT NOT NULL,

    "CreatedBy" TEXT NOT NULL,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "DefectCategoryId" INTEGER NULL,

    "Description" TEXT NOT NULL,

    "EstimatedMinutes" INTEGER NOT NULL DEFAULT 5,

    "FailureAction" TEXT NOT NULL DEFAULT 'Hold for review',

    "InspectionType" TEXT NOT NULL DEFAULT 'Visual',

    "IsActive" INTEGER NOT NULL DEFAULT 1,

    "IsRequired" INTEGER NOT NULL DEFAULT 1,

    "LastModifiedBy" TEXT NOT NULL,

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LowerTolerance" REAL NULL,

    "MeasurementMethod" TEXT NOT NULL,

    "Notes" TEXT NOT NULL DEFAULT '',

    "PartId" INTEGER NOT NULL,

    "Priority" INTEGER NOT NULL DEFAULT 3,

    "ReferenceDocuments" TEXT NOT NULL,

    "RequiredEquipment" TEXT NOT NULL,

    "RequiredSkills" TEXT NOT NULL,

    "SampleSize" INTEGER NOT NULL DEFAULT 1,

    "SamplingMethod" TEXT NOT NULL DEFAULT 'All',

    "SortOrder" INTEGER NOT NULL DEFAULT 100,

    "TargetValue" REAL NULL,

    "Unit" TEXT NOT NULL,

    "UpperTolerance" REAL NULL,

    CONSTRAINT "FK_InspectionCheckpoints_DefectCategories_DefectCategoryId" FOREIGN KEY ("DefectCategoryId") REFERENCES "DefectCategories" ("Id"),

    CONSTRAINT "FK_InspectionCheckpoints_Parts_PartId" FOREIGN KEY ("PartId") REFERENCES "Parts" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "ArchivedJobs" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_ArchivedJobs" PRIMARY KEY AUTOINCREMENT,

    "ActualEnd" TEXT NULL,

    "ActualPowderUsageKg" REAL NOT NULL,

    "ActualStart" TEXT NULL,

    "ArchiveReason" TEXT NOT NULL DEFAULT 'Cleanup',

    "ArchivedBy" TEXT NOT NULL DEFAULT 'System',

    "ArchivedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "ArgonCostPerHour" decimal(10,2) NOT NULL,

    "CustomerDueDate" TEXT NULL,

    "CustomerOrderNumber" TEXT NOT NULL,

    "DefectQuantity" INTEGER NOT NULL,

    "DensityPercentage" REAL NOT NULL,

    "EstimatedHours" REAL NOT NULL,

    "EstimatedPowderUsageKg" REAL NOT NULL,

    "HoldReason" TEXT NOT NULL DEFAULT '',

    "LaborCostPerHour" decimal(10,2) NOT NULL,

    "LaserPowerWatts" REAL NOT NULL,

    "LayerThicknessMicrons" REAL NOT NULL,

    "MachineId" TEXT NOT NULL,

    "MachineOperatingCostPerHour" decimal(10,2) NOT NULL,

    "MaterialCostPerKg" decimal(10,2) NOT NULL,

    "Notes" TEXT NOT NULL DEFAULT '',

    "Operator" TEXT NOT NULL,

    "OriginalCreatedBy" TEXT NOT NULL,

    "OriginalCreatedDate" TEXT NOT NULL,

    "OriginalJobId" INTEGER NOT NULL,

    "OriginalLastModifiedBy" TEXT NOT NULL,

    "OriginalLastModifiedDate" TEXT NOT NULL,

    "PartDescription" TEXT NOT NULL,

    "PartId" INTEGER NOT NULL,

    "PartNumber" TEXT NOT NULL,

    "PowderLotNumber" TEXT NOT NULL,

    "Priority" INTEGER NOT NULL DEFAULT 3,

    "ProcessParameters" TEXT NOT NULL DEFAULT '{}',

    "ProducedQuantity" INTEGER NOT NULL,

    "QualityCheckpoints" TEXT NOT NULL DEFAULT '{}',

    "QualityInspector" TEXT NOT NULL,

    "Quantity" INTEGER NOT NULL DEFAULT 1,

    "ReworkQuantity" INTEGER NOT NULL,

    "ScanSpeedMmPerSec" REAL NOT NULL,

    "ScheduledEnd" TEXT NOT NULL,

    "ScheduledStart" TEXT NOT NULL,

    "SlsMaterial" TEXT NOT NULL,

    "Status" TEXT NOT NULL DEFAULT 'Completed',

    "Supervisor" TEXT NOT NULL,

    "SurfaceRoughnessRa" REAL NOT NULL

);
CREATE INDEX "IX_BuildJobParts_BuildJobBuildId" ON "BuildJobParts" ("BuildJobBuildId");
CREATE INDEX "IX_DelayLogs_BuildJobBuildId" ON "DelayLogs" ("BuildJobBuildId");
CREATE UNIQUE INDEX "IX_UserSettings_UserId" ON "UserSettings" ("UserId");
CREATE INDEX "IX_InspectionCheckpoints_DefectCategoryId" ON "InspectionCheckpoints" ("DefectCategoryId");
CREATE INDEX "IX_InspectionCheckpoints_InspectionType" ON "InspectionCheckpoints" ("InspectionType");
CREATE INDEX "IX_InspectionCheckpoints_IsActive" ON "InspectionCheckpoints" ("IsActive");
CREATE INDEX "IX_InspectionCheckpoints_IsRequired" ON "InspectionCheckpoints" ("IsRequired");
CREATE INDEX "IX_InspectionCheckpoints_PartId" ON "InspectionCheckpoints" ("PartId");
CREATE INDEX "IX_InspectionCheckpoints_PartId_SortOrder" ON "InspectionCheckpoints" ("PartId", "SortOrder");
CREATE INDEX "IX_ArchivedJobs_ArchivedBy" ON "ArchivedJobs" ("ArchivedBy");
CREATE INDEX "IX_ArchivedJobs_ArchivedDate" ON "ArchivedJobs" ("ArchivedDate");
CREATE INDEX "IX_ArchivedJobs_MachineId" ON "ArchivedJobs" ("MachineId");
CREATE INDEX "IX_ArchivedJobs_MachineId_ScheduledStart" ON "ArchivedJobs" ("MachineId", "ScheduledStart");
CREATE INDEX "IX_ArchivedJobs_OriginalJobId" ON "ArchivedJobs" ("OriginalJobId");
CREATE INDEX "IX_ArchivedJobs_PartNumber" ON "ArchivedJobs" ("PartNumber");
CREATE INDEX "IX_ArchivedJobs_Status" ON "ArchivedJobs" ("Status");
CREATE TABLE IF NOT EXISTS "Materials" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Materials" PRIMARY KEY AUTOINCREMENT,

    "MaterialCode" TEXT NOT NULL,

    "MaterialName" TEXT NOT NULL,

    "MaterialType" TEXT NOT NULL,

    "Description" TEXT NOT NULL,

    "Density" REAL NOT NULL,

    "MeltingPointC" REAL NOT NULL,

    "IsActive" INTEGER NOT NULL,

    "CostPerGram" TEXT NOT NULL,

    "DefaultLayerThicknessMicrons" REAL NOT NULL,

    "DefaultLaserPowerPercent" REAL NOT NULL,

    "DefaultScanSpeedMmPerSec" REAL NOT NULL,

    "MaterialProperties" TEXT NOT NULL,

    "CompatibleMachineTypes" TEXT NOT NULL,

    "SafetyNotes" TEXT NOT NULL,

    "CreatedDate" TEXT NOT NULL,

    "LastModifiedDate" TEXT NOT NULL,

    "CreatedBy" TEXT NOT NULL,

    "LastModifiedBy" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "JobStages" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_JobStages" PRIMARY KEY AUTOINCREMENT,

    "ActualCost" TEXT NULL,

    "ActualEnd" TEXT NULL,

    "ActualStart" TEXT NULL,

    "AllowParallel" INTEGER NOT NULL,

    "AssignedOperator" TEXT NULL,

    "CanStart" INTEGER NOT NULL,

    "CooldownTimeHours" REAL NOT NULL,

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "Department" TEXT NOT NULL,

    "EstimatedCost" TEXT NOT NULL,

    "EstimatedDurationHours" REAL NOT NULL DEFAULT 1.0,

    "ExecutionOrder" INTEGER NOT NULL,

    "IsBlocking" INTEGER NOT NULL,

    "JobId" INTEGER NOT NULL,

    "LastModifiedBy" TEXT NOT NULL DEFAULT 'System',

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "MachineId" TEXT NULL,

    "MachineId1" INTEGER NULL,

    "Notes" TEXT NULL,

    "Priority" INTEGER NOT NULL DEFAULT 3,

    "ProgressPercent" REAL NOT NULL,

    "QualityRequirements" TEXT NULL,

    "RequiredMaterials" TEXT NULL,

    "RequiredTooling" TEXT NULL,

    "ScheduledEnd" TEXT NOT NULL,

    "ScheduledStart" TEXT NOT NULL,

    "SetupTimeHours" REAL NOT NULL,

    "StageName" TEXT NOT NULL,

    "StageType" TEXT NOT NULL,

    "Status" TEXT NOT NULL DEFAULT 'Scheduled',

    CONSTRAINT "FK_JobStages_Jobs_JobId" FOREIGN KEY ("JobId") REFERENCES "Jobs" ("Id") ON DELETE CASCADE,

    CONSTRAINT "FK_JobStages_Machines_MachineId1" FOREIGN KEY ("MachineId1") REFERENCES "Machines" ("Id")

);
CREATE TABLE IF NOT EXISTS "MachineCapabilities" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_MachineCapabilities" PRIMARY KEY AUTOINCREMENT,

    "CapabilityName" TEXT NOT NULL,

    "CapabilityType" TEXT NOT NULL,

    "CapabilityValue" TEXT NOT NULL,

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "IsAvailable" INTEGER NOT NULL DEFAULT 1,

    "LastModifiedBy" TEXT NOT NULL DEFAULT 'System',

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "MachineId" INTEGER NOT NULL,

    "MaxValue" REAL NULL,

    "MinValue" REAL NULL,

    "Notes" TEXT NOT NULL,

    "Priority" INTEGER NOT NULL DEFAULT 3,

    "RequiredCertification" TEXT NOT NULL,

    "Unit" TEXT NOT NULL,

    CONSTRAINT "FK_MachineCapabilities_Machines_MachineId" FOREIGN KEY ("MachineId") REFERENCES "Machines" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "Machines" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Machines" PRIMARY KEY AUTOINCREMENT,

    "AverageUtilizationPercent" REAL NOT NULL,

    "BuildHeightMm" REAL NOT NULL,

    "BuildLengthMm" REAL NOT NULL,

    "BuildWidthMm" REAL NOT NULL,

    "CommunicationSettings" TEXT NOT NULL,

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "CurrentJobId" INTEGER NULL,

    "CurrentMaterial" TEXT NOT NULL,

    "Department" TEXT NOT NULL,

    "HoursSinceLastMaintenance" REAL NOT NULL,

    "IsActive" INTEGER NOT NULL,

    "IsAvailableForScheduling" INTEGER NOT NULL,

    "LastMaintenanceDate" TEXT NULL,

    "LastModifiedBy" TEXT NOT NULL DEFAULT 'System',

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastStatusUpdate" TEXT NOT NULL,

    "Location" TEXT NOT NULL,

    "MachineId" TEXT NOT NULL,

    "MachineModel" TEXT NOT NULL,

    "MachineName" TEXT NOT NULL,

    "MachineType" TEXT NOT NULL,

    "MaintenanceIntervalHours" REAL NOT NULL,

    "MaintenanceNotes" TEXT NOT NULL,

    "MaxLaserPowerWatts" REAL NOT NULL,

    "MaxLayerThicknessMicrons" REAL NOT NULL,

    "MaxScanSpeedMmPerSec" REAL NOT NULL,

    "MinLayerThicknessMicrons" REAL NOT NULL,

    "Name" TEXT NOT NULL,

    "NextMaintenanceDate" TEXT NULL,

    "OpcUaEnabled" INTEGER NOT NULL,

    "OpcUaEndpointUrl" TEXT NOT NULL,

    "OperatorNotes" TEXT NOT NULL,

    "Priority" INTEGER NOT NULL,

    "SerialNumber" TEXT NOT NULL,

    "Status" TEXT NOT NULL DEFAULT 'Idle',

    "SupportedMaterials" TEXT NOT NULL,

    "TechnicalSpecifications" TEXT NOT NULL,

    "TotalOperatingHours" REAL NOT NULL,

    CONSTRAINT "FK_Machines_Jobs_CurrentJobId" FOREIGN KEY ("CurrentJobId") REFERENCES "Jobs" ("Id")

);
CREATE INDEX "IX_JobStages_Department" ON "JobStages" ("Department");
CREATE INDEX "IX_JobStages_JobId" ON "JobStages" ("JobId");
CREATE INDEX "IX_JobStages_JobId_ExecutionOrder" ON "JobStages" ("JobId", "ExecutionOrder");
CREATE INDEX "IX_JobStages_MachineId" ON "JobStages" ("MachineId");
CREATE INDEX "IX_JobStages_MachineId1" ON "JobStages" ("MachineId1");
CREATE INDEX "IX_JobStages_ScheduledEnd" ON "JobStages" ("ScheduledEnd");
CREATE INDEX "IX_JobStages_ScheduledStart" ON "JobStages" ("ScheduledStart");
CREATE INDEX "IX_JobStages_StageType" ON "JobStages" ("StageType");
CREATE INDEX "IX_JobStages_Status" ON "JobStages" ("Status");
CREATE INDEX "IX_MachineCapabilities_CapabilityType" ON "MachineCapabilities" ("CapabilityType");
CREATE INDEX "IX_MachineCapabilities_IsAvailable" ON "MachineCapabilities" ("IsAvailable");
CREATE INDEX "IX_MachineCapabilities_MachineId" ON "MachineCapabilities" ("MachineId");
CREATE INDEX "IX_MachineCapabilities_MachineId_CapabilityType" ON "MachineCapabilities" ("MachineId", "CapabilityType");
CREATE INDEX "IX_Machines_CurrentJobId" ON "Machines" ("CurrentJobId");
CREATE INDEX "IX_Machines_IsActive" ON "Machines" ("IsActive");
CREATE UNIQUE INDEX "IX_Machines_MachineId" ON "Machines" ("MachineId");
CREATE INDEX "IX_Machines_MachineType" ON "Machines" ("MachineType");
CREATE INDEX "IX_Machines_Status" ON "Machines" ("Status");
CREATE INDEX IX_Users_Role_IsActive 

                ON Users (Role, IsActive DESC);
CREATE INDEX IX_Machines_Status_IsActive 

                ON Machines (Status, IsActive DESC);
CREATE TABLE IF NOT EXISTS "ComplianceRequirements" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_ComplianceRequirements" PRIMARY KEY AUTOINCREMENT,

    "RequirementCode" TEXT NOT NULL,

    "RequirementName" TEXT NOT NULL,

    "Description" TEXT NOT NULL,

    "ComplianceType" TEXT NOT NULL,

    "RegulatoryAuthority" TEXT NOT NULL,

    "RequirementDetails" TEXT NOT NULL,

    "DocumentationRequired" TEXT NOT NULL DEFAULT '',

    "FormsRequired" TEXT NOT NULL DEFAULT '',

    "RecordKeepingRequirements" TEXT NOT NULL DEFAULT '',

    "ApplicableIndustries" TEXT NOT NULL DEFAULT '',

    "ApplicablePartTypes" TEXT NOT NULL DEFAULT '',

    "ApplicableProcesses" TEXT NOT NULL DEFAULT '',

    "AppliesToManufacturing" INTEGER NOT NULL,

    "AppliesToDistribution" INTEGER NOT NULL,

    "AppliesToExport" INTEGER NOT NULL,

    "AppliesToImport" INTEGER NOT NULL,

    "EnforcementLevel" TEXT NOT NULL DEFAULT 'Mandatory',

    "PenaltyType" TEXT NOT NULL DEFAULT '',

    "PenaltyDescription" TEXT NOT NULL DEFAULT '',

    "MaxPenaltyDays" INTEGER NOT NULL,

    "MaxPenaltyAmount" decimal(12,2) NOT NULL,

    "EffectiveDate" TEXT NULL,

    "ExpirationDate" TEXT NULL,

    "NextReviewDate" TEXT NULL,

    "RenewalIntervalMonths" INTEGER NOT NULL,

    "RequiresRenewal" INTEGER NOT NULL,

    "RequiresInspection" INTEGER NOT NULL,

    "RenewalProcess" TEXT NOT NULL DEFAULT '',

    "ImplementationSteps" TEXT NOT NULL DEFAULT '',

    "RequiredTraining" TEXT NOT NULL DEFAULT '',

    "RequiredCertifications" TEXT NOT NULL DEFAULT '',

    "SystemRequirements" TEXT NOT NULL DEFAULT '',

    "EstimatedImplementationHours" REAL NOT NULL,

    "EstimatedImplementationCost" decimal(10,2) NOT NULL,

    "ReferenceDocuments" TEXT NOT NULL DEFAULT '',

    "WebResources" TEXT NOT NULL DEFAULT '',

    "ContactInformation" TEXT NOT NULL DEFAULT '',

    "AdditionalNotes" TEXT NOT NULL DEFAULT '',

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "CreatedBy" TEXT NOT NULL,

    "LastModifiedBy" TEXT NOT NULL,

    "IsActive" INTEGER NOT NULL,

    "IsCurrentVersion" INTEGER NOT NULL,

    "PartClassificationId" INTEGER NULL,

    CONSTRAINT "FK_ComplianceRequirements_PartClassifications_PartClassificationId" FOREIGN KEY ("PartClassificationId") REFERENCES "PartClassifications" ("Id") ON DELETE SET NULL

);
CREATE TABLE IF NOT EXISTS "SerialNumbers" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_SerialNumbers" PRIMARY KEY AUTOINCREMENT,

    "SerialNumberValue" TEXT NOT NULL,

    "SerialNumberFormat" TEXT NOT NULL,

    "ManufacturerCode" TEXT NOT NULL DEFAULT 'BT',

    "AssignedDate" TEXT NOT NULL,

    "ManufacturedDate" TEXT NULL,

    "CompletedDate" TEXT NULL,

    "AssignedJobId" TEXT NULL,

    "PartNumber" TEXT NULL,

    "ComponentName" TEXT NOT NULL DEFAULT '',

    "ComponentType" TEXT NOT NULL DEFAULT '',

    "ManufacturingMethod" TEXT NOT NULL DEFAULT 'SLS Metal Printing',

    "MaterialUsed" TEXT NOT NULL DEFAULT '',

    "MaterialLotNumber" TEXT NOT NULL DEFAULT '',

    "MachineUsed" TEXT NOT NULL DEFAULT '',

    "Operator" TEXT NOT NULL DEFAULT '',

    "QualityInspector" TEXT NOT NULL DEFAULT '',

    "ATFComplianceStatus" TEXT NOT NULL DEFAULT 'Pending',

    "ATFClassification" TEXT NOT NULL DEFAULT '',

    "FFLDealer" TEXT NULL,

    "FFLNumber" TEXT NULL,

    "ATFFormSubmissionDate" TEXT NULL,

    "ATFApprovalDate" TEXT NULL,

    "ATFFormNumbers" TEXT NOT NULL DEFAULT '',

    "TaxStampNumber" TEXT NULL,

    "TransferStatus" TEXT NOT NULL DEFAULT 'In Manufacturing',

    "TransferDate" TEXT NULL,

    "TransferTo" TEXT NULL,

    "TransferDocument" TEXT NULL,

    "TransferNotes" TEXT NULL,

    "IsDestructionScheduled" INTEGER NOT NULL,

    "ScheduledDestructionDate" TEXT NULL,

    "ActualDestructionDate" TEXT NULL,

    "DestructionMethod" TEXT NULL,

    "IsITARControlled" INTEGER NOT NULL,

    "IsEARControlled" INTEGER NOT NULL,

    "ExportClassification" TEXT NOT NULL DEFAULT '',

    "ExportLicense" TEXT NULL,

    "ExportLicenseExpiration" TEXT NULL,

    "DestinationCountry" TEXT NULL,

    "EndUser" TEXT NULL,

    "RequiresExportPermit" INTEGER NOT NULL,

    "ExportPermitObtained" INTEGER NOT NULL,

    "QualityStatus" TEXT NOT NULL DEFAULT 'Pending',

    "QualityInspectionDate" TEXT NULL,

    "QualityCertificateNumber" TEXT NULL,

    "TestResultsSummary" TEXT NOT NULL DEFAULT '',

    "DimensionalTestPassed" INTEGER NOT NULL,

    "MaterialTestPassed" INTEGER NOT NULL,

    "PressureTestPassed" INTEGER NOT NULL,

    "ProofTestPassed" INTEGER NOT NULL,

    "QualityNotes" TEXT NOT NULL DEFAULT '',

    "ManufacturingHistory" TEXT NOT NULL DEFAULT '{}',

    "ComponentGenealogy" TEXT NOT NULL DEFAULT '',

    "AssemblyComponents" TEXT NOT NULL DEFAULT '',

    "BatchNumber" TEXT NULL,

    "BuildPlatformId" TEXT NULL,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "CreatedBy" TEXT NOT NULL,

    "LastModifiedBy" TEXT NOT NULL,

    "IsActive" INTEGER NOT NULL,

    "IsLocked" INTEGER NOT NULL,

    "PartId" INTEGER NULL,

    "JobId" INTEGER NULL,

    "ComplianceRequirementId" INTEGER NULL,

    CONSTRAINT "FK_SerialNumbers_ComplianceRequirements_ComplianceRequirementId" FOREIGN KEY ("ComplianceRequirementId") REFERENCES "ComplianceRequirements" ("Id") ON DELETE SET NULL,

    CONSTRAINT "FK_SerialNumbers_Jobs_JobId" FOREIGN KEY ("JobId") REFERENCES "Jobs" ("Id") ON DELETE SET NULL,

    CONSTRAINT "FK_SerialNumbers_Parts_PartId" FOREIGN KEY ("PartId") REFERENCES "Parts" ("Id") ON DELETE SET NULL

);
CREATE TABLE IF NOT EXISTS "ComplianceDocuments" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_ComplianceDocuments" PRIMARY KEY AUTOINCREMENT,

    "DocumentNumber" TEXT NOT NULL,

    "DocumentTitle" TEXT NOT NULL,

    "DocumentType" TEXT NOT NULL,

    "Description" TEXT NOT NULL,

    "ComplianceCategory" TEXT NOT NULL,

    "DocumentClassification" TEXT NOT NULL DEFAULT 'Unclassified',

    "RegulatoryAuthority" TEXT NOT NULL DEFAULT '',

    "FormNumber" TEXT NULL,

    "DocumentDate" TEXT NOT NULL,

    "EffectiveDate" TEXT NULL,

    "ExpirationDate" TEXT NULL,

    "SubmissionDate" TEXT NULL,

    "ApprovalDate" TEXT NULL,

    "Status" TEXT NOT NULL DEFAULT 'Draft',

    "ApprovalNumber" TEXT NULL,

    "ReferenceNumber" TEXT NULL,

    "FilePath" TEXT NULL,

    "FileName" TEXT NULL,

    "FileType" TEXT NULL,

    "FileSizeMB" decimal(8,2) NOT NULL,

    "FileHash" TEXT NULL,

    "DocumentContent" TEXT NOT NULL DEFAULT '',

    "AssociatedSerialNumbers" TEXT NOT NULL DEFAULT '',

    "AssociatedPartNumbers" TEXT NOT NULL DEFAULT '',

    "AssociatedJobNumbers" TEXT NOT NULL DEFAULT '',

    "Customer" TEXT NULL,

    "Vendor" TEXT NULL,

    "PreparedBy" TEXT NOT NULL DEFAULT '',

    "ReviewedBy" TEXT NULL,

    "ApprovedBy" TEXT NULL,

    "ReviewDate" TEXT NULL,

    "ApprovalDateInternal" TEXT NULL,

    "ReviewComments" TEXT NOT NULL DEFAULT '',

    "ApprovalComments" TEXT NOT NULL DEFAULT '',

    "RetentionPeriod" TEXT NOT NULL DEFAULT 'Permanent',

    "RetentionEndDate" TEXT NULL,

    "ArchiveDate" TEXT NULL,

    "DisposalDate" TEXT NULL,

    "ArchiveLocation" TEXT NULL,

    "DisposalMethod" TEXT NULL,

    "IsArchived" INTEGER NOT NULL,

    "IsDisposed" INTEGER NOT NULL,

    "RequiresRenewal" INTEGER NOT NULL,

    "RenewalReminderDays" INTEGER NOT NULL,

    "NextReminderDate" TEXT NULL,

    "EmailNotificationSent" INTEGER NOT NULL,

    "LastNotificationDate" TEXT NULL,

    "NotificationRecipients" TEXT NOT NULL DEFAULT '',

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastAccessedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "CreatedBy" TEXT NOT NULL,

    "LastModifiedBy" TEXT NOT NULL,

    "LastAccessedBy" TEXT NOT NULL DEFAULT '',

    "AccessCount" INTEGER NOT NULL,

    "IsActive" INTEGER NOT NULL,

    "AuditNotes" TEXT NOT NULL DEFAULT '',

    "SerialNumberId" INTEGER NULL,

    "ComplianceRequirementId" INTEGER NULL,

    "PartId" INTEGER NULL,

    "JobId" INTEGER NULL,

    CONSTRAINT "FK_ComplianceDocuments_ComplianceRequirements_ComplianceRequirementId" FOREIGN KEY ("ComplianceRequirementId") REFERENCES "ComplianceRequirements" ("Id") ON DELETE SET NULL,

    CONSTRAINT "FK_ComplianceDocuments_Jobs_JobId" FOREIGN KEY ("JobId") REFERENCES "Jobs" ("Id") ON DELETE SET NULL,

    CONSTRAINT "FK_ComplianceDocuments_Parts_PartId" FOREIGN KEY ("PartId") REFERENCES "Parts" ("Id") ON DELETE SET NULL,

    CONSTRAINT "FK_ComplianceDocuments_SerialNumbers_SerialNumberId" FOREIGN KEY ("SerialNumberId") REFERENCES "SerialNumbers" ("Id") ON DELETE SET NULL

);
CREATE INDEX "IX_ComplianceDocuments_ComplianceCategory" ON "ComplianceDocuments" ("ComplianceCategory");
CREATE INDEX "IX_ComplianceDocuments_ComplianceRequirementId" ON "ComplianceDocuments" ("ComplianceRequirementId");
CREATE INDEX "IX_ComplianceDocuments_DocumentDate" ON "ComplianceDocuments" ("DocumentDate");
CREATE UNIQUE INDEX "IX_ComplianceDocuments_DocumentNumber" ON "ComplianceDocuments" ("DocumentNumber");
CREATE INDEX "IX_ComplianceDocuments_DocumentType" ON "ComplianceDocuments" ("DocumentType");
CREATE INDEX "IX_ComplianceDocuments_EffectiveDate" ON "ComplianceDocuments" ("EffectiveDate");
CREATE INDEX "IX_ComplianceDocuments_ExpirationDate" ON "ComplianceDocuments" ("ExpirationDate");
CREATE INDEX "IX_ComplianceDocuments_IsActive" ON "ComplianceDocuments" ("IsActive");
CREATE INDEX "IX_ComplianceDocuments_IsArchived" ON "ComplianceDocuments" ("IsArchived");
CREATE INDEX "IX_ComplianceDocuments_JobId" ON "ComplianceDocuments" ("JobId");
CREATE INDEX "IX_ComplianceDocuments_PartId" ON "ComplianceDocuments" ("PartId");
CREATE INDEX "IX_ComplianceDocuments_SerialNumberId" ON "ComplianceDocuments" ("SerialNumberId");
CREATE INDEX "IX_ComplianceDocuments_Status" ON "ComplianceDocuments" ("Status");
CREATE INDEX "IX_ComplianceRequirements_ComplianceType" ON "ComplianceRequirements" ("ComplianceType");
CREATE INDEX "IX_ComplianceRequirements_EffectiveDate" ON "ComplianceRequirements" ("EffectiveDate");
CREATE INDEX "IX_ComplianceRequirements_EnforcementLevel" ON "ComplianceRequirements" ("EnforcementLevel");
CREATE INDEX "IX_ComplianceRequirements_ExpirationDate" ON "ComplianceRequirements" ("ExpirationDate");
CREATE INDEX "IX_ComplianceRequirements_IsActive" ON "ComplianceRequirements" ("IsActive");
CREATE INDEX "IX_ComplianceRequirements_IsCurrentVersion" ON "ComplianceRequirements" ("IsCurrentVersion");
CREATE INDEX "IX_ComplianceRequirements_PartClassificationId" ON "ComplianceRequirements" ("PartClassificationId");
CREATE INDEX "IX_ComplianceRequirements_RegulatoryAuthority" ON "ComplianceRequirements" ("RegulatoryAuthority");
CREATE UNIQUE INDEX "IX_ComplianceRequirements_RequirementCode" ON "ComplianceRequirements" ("RequirementCode");
CREATE INDEX "IX_SerialNumbers_AssignedDate" ON "SerialNumbers" ("AssignedDate");
CREATE INDEX "IX_SerialNumbers_ATFComplianceStatus" ON "SerialNumbers" ("ATFComplianceStatus");
CREATE INDEX "IX_SerialNumbers_ComplianceRequirementId" ON "SerialNumbers" ("ComplianceRequirementId");
CREATE INDEX "IX_SerialNumbers_ComponentType" ON "SerialNumbers" ("ComponentType");
CREATE INDEX "IX_SerialNumbers_IsActive" ON "SerialNumbers" ("IsActive");
CREATE INDEX "IX_SerialNumbers_IsLocked" ON "SerialNumbers" ("IsLocked");
CREATE INDEX "IX_SerialNumbers_JobId" ON "SerialNumbers" ("JobId");
CREATE INDEX "IX_SerialNumbers_ManufacturedDate" ON "SerialNumbers" ("ManufacturedDate");
CREATE INDEX "IX_SerialNumbers_ManufacturerCode" ON "SerialNumbers" ("ManufacturerCode");
CREATE INDEX "IX_SerialNumbers_PartId" ON "SerialNumbers" ("PartId");
CREATE INDEX "IX_SerialNumbers_QualityStatus" ON "SerialNumbers" ("QualityStatus");
CREATE UNIQUE INDEX "IX_SerialNumbers_SerialNumberValue" ON "SerialNumbers" ("SerialNumberValue");
CREATE INDEX "IX_SerialNumbers_TransferStatus" ON "SerialNumbers" ("TransferStatus");
CREATE INDEX "IX_SerialNumbers_Part_Status" ON "SerialNumbers" ("PartId", "ATFComplianceStatus", "QualityStatus", "IsActive");
CREATE INDEX "IX_ComplianceDocuments_Part_Status" ON "ComplianceDocuments" ("PartId", "Status", "IsActive");
CREATE INDEX "IX_SerialNumbers_Tracking_Enhanced" ON "SerialNumbers" ("PartId", "AssignedDate", "ATFComplianceStatus", "IsActive");
CREATE INDEX "IX_ComplianceDocuments_Relationships" ON "ComplianceDocuments" ("PartId", "SerialNumberId", "ComplianceRequirementId", "Status", "IsActive");
CREATE TABLE IF NOT EXISTS "ProductionStages" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_ProductionStages" PRIMARY KEY AUTOINCREMENT,

    "Name" TEXT NOT NULL,

    "DisplayOrder" INTEGER NOT NULL,

    "Description" TEXT NULL,

    "DefaultSetupMinutes" INTEGER NOT NULL DEFAULT 30,

    "DefaultHourlyRate" decimal(8,2) NOT NULL DEFAULT '85.0',

    "RequiresQualityCheck" INTEGER NOT NULL DEFAULT 1,

    "RequiresApproval" INTEGER NOT NULL DEFAULT 0,

    "AllowSkip" INTEGER NOT NULL DEFAULT 0,

    "IsOptional" INTEGER NOT NULL DEFAULT 0,

    "RequiredRole" TEXT NULL,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "IsActive" INTEGER NOT NULL DEFAULT 1

, "AllowParallelExecution" INTEGER NOT NULL DEFAULT 0, "AssignedMachineIds" TEXT NULL, "CreatedBy" TEXT NOT NULL DEFAULT 'System', "CustomFieldsConfig" TEXT NOT NULL DEFAULT '[]', "DefaultDurationHours" REAL NOT NULL DEFAULT 1.0, "DefaultMachineId" TEXT NULL, "DefaultMaterialCost" decimal(10,2) NOT NULL DEFAULT '0.0', "Department" TEXT NULL, "LastModifiedBy" TEXT NOT NULL DEFAULT 'System', "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')), "RequiresMachineAssignment" INTEGER NOT NULL DEFAULT 0, "StageColor" TEXT NOT NULL DEFAULT '#007bff', "StageIcon" TEXT NOT NULL DEFAULT 'fas fa-cogs');
CREATE TABLE IF NOT EXISTS "PrototypeJobs" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_PrototypeJobs" PRIMARY KEY AUTOINCREMENT,

    "PartId" INTEGER NOT NULL,

    "PrototypeNumber" TEXT NOT NULL,

    "CustomerOrderNumber" TEXT NULL,

    "RequestedBy" TEXT NOT NULL,

    "RequestDate" TEXT NOT NULL,

    "Priority" TEXT NOT NULL DEFAULT 'Standard',

    "Status" TEXT NOT NULL DEFAULT 'InProgress',

    "TotalActualCost" decimal(12,2) NOT NULL,

    "TotalEstimatedCost" decimal(12,2) NOT NULL,

    "CostVariancePercent" decimal(5,2) NOT NULL,

    "TotalActualHours" decimal(8,2) NOT NULL,

    "TotalEstimatedHours" decimal(8,2) NOT NULL,

    "TimeVariancePercent" decimal(5,2) NOT NULL,

    "StartDate" TEXT NULL,

    "CompletionDate" TEXT NULL,

    "LeadTimeDays" INTEGER NULL,

    "AdminReviewStatus" TEXT NOT NULL DEFAULT 'Pending',

    "AdminReviewBy" TEXT NULL,

    "AdminReviewDate" TEXT NULL,

    "AdminReviewNotes" TEXT NULL,

    "CreatedBy" TEXT NOT NULL,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "UpdatedBy" TEXT NULL,

    "UpdatedDate" TEXT NULL,

    "IsActive" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "FK_PrototypeJobs_Parts_PartId" FOREIGN KEY ("PartId") REFERENCES "Parts" ("Id") ON DELETE RESTRICT

);
CREATE TABLE IF NOT EXISTS "AssemblyComponents" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_AssemblyComponents" PRIMARY KEY AUTOINCREMENT,

    "PrototypeJobId" INTEGER NOT NULL,

    "ComponentType" TEXT NOT NULL,

    "ComponentPartNumber" TEXT NULL,

    "ComponentDescription" TEXT NOT NULL,

    "QuantityRequired" INTEGER NOT NULL DEFAULT 1,

    "QuantityUsed" INTEGER NOT NULL DEFAULT 0,

    "UnitCost" decimal(8,2) NULL,

    "TotalCost" decimal(10,2) NULL,

    "Supplier" TEXT NULL,

    "SupplierPartNumber" TEXT NULL,

    "LeadTimeDays" INTEGER NULL,

    "Status" TEXT NOT NULL DEFAULT 'Needed',

    "OrderDate" TEXT NULL,

    "ReceivedDate" TEXT NULL,

    "UsedDate" TEXT NULL,

    "InspectionRequired" INTEGER NOT NULL DEFAULT 0,

    "InspectionPassed" INTEGER NULL,

    "InspectionNotes" TEXT NULL,

    "CreatedBy" TEXT NOT NULL,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "IsActive" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "FK_AssemblyComponents_PrototypeJobs_PrototypeJobId" FOREIGN KEY ("PrototypeJobId") REFERENCES "PrototypeJobs" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "PrototypeTimeLogs" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_PrototypeTimeLogs" PRIMARY KEY AUTOINCREMENT,

    "ProductionStageExecutionId" INTEGER NOT NULL,

    "LogDate" TEXT NOT NULL,

    "StartTime" TEXT NOT NULL,

    "EndTime" TEXT NULL,

    "ElapsedMinutes" INTEGER NULL,

    "ActivityType" TEXT NOT NULL,

    "ActivityDescription" TEXT NOT NULL,

    "Employee" TEXT NOT NULL,

    "IssuesEncountered" TEXT NULL,

    "ResolutionNotes" TEXT NULL,

    "ImprovementSuggestions" TEXT NULL,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    CONSTRAINT "FK_PrototypeTimeLogs_ProductionStageExecutions_ProductionStageExecutionId" FOREIGN KEY ("ProductionStageExecutionId") REFERENCES "ProductionStageExecutions" ("Id") ON DELETE CASCADE

);
CREATE INDEX "IX_AssemblyComponents_ComponentType" ON "AssemblyComponents" ("ComponentType");
CREATE INDEX "IX_AssemblyComponents_IsActive" ON "AssemblyComponents" ("IsActive");
CREATE INDEX "IX_AssemblyComponents_PrototypeJobId" ON "AssemblyComponents" ("PrototypeJobId");
CREATE INDEX "IX_AssemblyComponents_Status" ON "AssemblyComponents" ("Status");
CREATE INDEX "IX_AssemblyComponents_Supplier" ON "AssemblyComponents" ("Supplier");
CREATE INDEX "IX_ProductionStages_DisplayOrder" ON "ProductionStages" ("DisplayOrder");
CREATE INDEX "IX_ProductionStages_IsActive" ON "ProductionStages" ("IsActive");
CREATE INDEX "IX_ProductionStages_Name" ON "ProductionStages" ("Name");
CREATE INDEX "IX_ProductionStages_RequiredRole" ON "ProductionStages" ("RequiredRole");
CREATE INDEX "IX_PrototypeJobs_AdminReviewStatus" ON "PrototypeJobs" ("AdminReviewStatus");
CREATE INDEX "IX_PrototypeJobs_IsActive" ON "PrototypeJobs" ("IsActive");
CREATE INDEX "IX_PrototypeJobs_PartId" ON "PrototypeJobs" ("PartId");
CREATE INDEX "IX_PrototypeJobs_Priority" ON "PrototypeJobs" ("Priority");
CREATE UNIQUE INDEX "IX_PrototypeJobs_PrototypeNumber" ON "PrototypeJobs" ("PrototypeNumber");
CREATE INDEX "IX_PrototypeJobs_RequestDate" ON "PrototypeJobs" ("RequestDate");
CREATE INDEX "IX_PrototypeJobs_RequestedBy" ON "PrototypeJobs" ("RequestedBy");
CREATE INDEX "IX_PrototypeJobs_Status" ON "PrototypeJobs" ("Status");
CREATE INDEX "IX_PrototypeTimeLogs_ActivityType" ON "PrototypeTimeLogs" ("ActivityType");
CREATE INDEX "IX_PrototypeTimeLogs_Employee" ON "PrototypeTimeLogs" ("Employee");
CREATE INDEX "IX_PrototypeTimeLogs_LogDate" ON "PrototypeTimeLogs" ("LogDate");
CREATE INDEX "IX_PrototypeTimeLogs_ProductionStageExecutionId" ON "PrototypeTimeLogs" ("ProductionStageExecutionId");
CREATE INDEX "IX_PrototypeTimeLogs_StartTime" ON "PrototypeTimeLogs" ("StartTime");
CREATE TABLE IF NOT EXISTS "BuildJobs" (

    "BuildId" INTEGER NOT NULL CONSTRAINT "PK_BuildJobs" PRIMARY KEY AUTOINCREMENT,

    "ActualEndTime" TEXT NULL,

    "ActualStartTime" TEXT NOT NULL,

    "AssociatedScheduledJobId" INTEGER NULL,

    "CompletedAt" TEXT NULL,

    "CreatedAt" TEXT NOT NULL,

    "GasUsed_L" REAL NULL,

    "LaserRunTime" TEXT NULL,

    "Notes" TEXT NULL,

    "PartId" INTEGER NULL,

    "PowderUsed_L" REAL NULL,

    "PrinterName" TEXT NOT NULL,

    "ReasonForEnd" TEXT NULL,

    "ScheduledEndTime" TEXT NULL,

    "ScheduledStartTime" TEXT NULL,

    "SetupNotes" TEXT NULL,

    "Status" TEXT NOT NULL,

    "UserId" INTEGER NOT NULL, "BuildFileHash" TEXT NULL, "BuildHeight" TEXT NULL, "DefectCount" INTEGER NULL, "IsLearningBuild" INTEGER NOT NULL DEFAULT 0, "LaserOnTime" TEXT NULL, "LayerCount" INTEGER NULL, "LessonsLearned" TEXT NULL, "MachinePerformanceNotes" TEXT NULL, "OperatorActualHours" TEXT NULL, "OperatorBuildAssessment" TEXT NULL, "OperatorEstimatedHours" TEXT NULL, "PartOrientations" TEXT NULL, "PostProcessingNeeded" TEXT NULL, "PowerConsumption" TEXT NULL, "SupportComplexity" TEXT NULL, "TimeFactors" TEXT NULL, "TotalPartsInBuild" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "FK_BuildJobs_Parts_PartId" FOREIGN KEY ("PartId") REFERENCES "Parts" ("Id"),

    CONSTRAINT "FK_BuildJobs_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE

);
CREATE INDEX "IX_BuildJobs_PartId" ON "BuildJobs" ("PartId");
CREATE INDEX "IX_BuildJobs_UserId" ON "BuildJobs" ("UserId");
CREATE TABLE IF NOT EXISTS "BugReports" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_BugReports" PRIMARY KEY AUTOINCREMENT,

    "BugId" TEXT NOT NULL,

    "Title" TEXT NOT NULL,

    "Description" TEXT NOT NULL,

    "Severity" TEXT NOT NULL DEFAULT 'Medium',

    "Priority" TEXT NOT NULL DEFAULT 'Medium',

    "Status" TEXT NOT NULL DEFAULT 'New',

    "Category" TEXT NOT NULL DEFAULT 'General',

    "PageUrl" TEXT NOT NULL,

    "PageName" TEXT NOT NULL,

    "PageArea" TEXT NOT NULL DEFAULT '',

    "PageController" TEXT NOT NULL DEFAULT '',

    "PageAction" TEXT NOT NULL DEFAULT '',

    "ReportedBy" TEXT NOT NULL,

    "UserRole" TEXT NOT NULL DEFAULT '',

    "UserEmail" TEXT NOT NULL DEFAULT '',

    "ReportedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "UserAgent" TEXT NOT NULL DEFAULT '',

    "BrowserName" TEXT NOT NULL DEFAULT '',

    "BrowserVersion" TEXT NOT NULL DEFAULT '',

    "OperatingSystem" TEXT NOT NULL DEFAULT '',

    "ScreenResolution" TEXT NOT NULL DEFAULT '',

    "IpAddress" TEXT NOT NULL DEFAULT '',

    "ErrorType" TEXT NOT NULL DEFAULT '',

    "ErrorMessage" TEXT NOT NULL DEFAULT '',

    "StackTrace" TEXT NOT NULL DEFAULT '',

    "OperationId" TEXT NOT NULL DEFAULT '',

    "StepsToReproduce" TEXT NOT NULL DEFAULT '',

    "ExpectedBehavior" TEXT NOT NULL DEFAULT '',

    "ActualBehavior" TEXT NOT NULL DEFAULT '',

    "AdditionalNotes" TEXT NOT NULL DEFAULT '',

    "AttachedFiles" TEXT NOT NULL DEFAULT '',

    "FormData" TEXT NOT NULL DEFAULT '',

    "NetworkRequests" TEXT NOT NULL DEFAULT '',

    "ConsoleErrors" TEXT NOT NULL DEFAULT '',

    "AssignedTo" TEXT NOT NULL DEFAULT '',

    "AssignedDate" TEXT NULL,

    "ResolvedBy" TEXT NOT NULL DEFAULT '',

    "ResolvedDate" TEXT NULL,

    "ResolutionNotes" TEXT NOT NULL DEFAULT '',

    "ResolutionType" TEXT NOT NULL DEFAULT '',

    "ViewCount" INTEGER NOT NULL DEFAULT 0,

    "VoteCount" INTEGER NOT NULL DEFAULT 0,

    "LastViewedDate" TEXT NULL,

    "LastViewedBy" TEXT NOT NULL DEFAULT '',

    "IsReproduced" INTEGER NOT NULL DEFAULT 0,

    "ReproducedBy" TEXT NOT NULL DEFAULT '',

    "ReproducedDate" TEXT NULL,

    "IsActive" INTEGER NOT NULL DEFAULT 1,

    "IsPublic" INTEGER NOT NULL DEFAULT 0,

    "NotifyReporter" INTEGER NOT NULL DEFAULT 1,

    "CreatedBy" TEXT NOT NULL DEFAULT '',

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedBy" TEXT NOT NULL DEFAULT '',

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "RelatedBugIds" TEXT NOT NULL DEFAULT '',

    "DuplicateOf" TEXT NOT NULL DEFAULT '',

    "PerformanceImpact" TEXT NOT NULL DEFAULT 'None',

    "PageLoadTime" TEXT NULL,

    "MemoryUsage" TEXT NULL,

    "CpuUsage" TEXT NULL,

    "Tags" TEXT NOT NULL DEFAULT '',

    "CustomMetadata" TEXT NOT NULL DEFAULT '{}'

);
CREATE INDEX "IX_BugReports_AssignedTo" ON "BugReports" ("AssignedTo");
CREATE UNIQUE INDEX "IX_BugReports_BugId" ON "BugReports" ("BugId");
CREATE INDEX "IX_BugReports_Category" ON "BugReports" ("Category");
CREATE INDEX "IX_BugReports_IsActive" ON "BugReports" ("IsActive");
CREATE INDEX "IX_BugReports_IsPublic" ON "BugReports" ("IsPublic");
CREATE INDEX "IX_BugReports_OperationId" ON "BugReports" ("OperationId");
CREATE INDEX "IX_BugReports_PageArea" ON "BugReports" ("PageArea");
CREATE INDEX "IX_BugReports_PageArea_Status" ON "BugReports" ("PageArea", "Status");
CREATE INDEX "IX_BugReports_Priority" ON "BugReports" ("Priority");
CREATE INDEX "IX_BugReports_ReportedBy" ON "BugReports" ("ReportedBy");
CREATE INDEX "IX_BugReports_ReportedDate" ON "BugReports" ("ReportedDate");
CREATE INDEX "IX_BugReports_ReportedDate_Status" ON "BugReports" ("ReportedDate", "Status");
CREATE INDEX "IX_BugReports_ResolvedDate" ON "BugReports" ("ResolvedDate");
CREATE INDEX "IX_BugReports_Severity" ON "BugReports" ("Severity");
CREATE INDEX "IX_BugReports_Severity_Priority" ON "BugReports" ("Severity", "Priority");
CREATE INDEX "IX_BugReports_Status" ON "BugReports" ("Status");
CREATE TABLE IF NOT EXISTS "EDMLogs" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_EDMLogs" PRIMARY KEY AUTOINCREMENT,

    "CreatedBy" TEXT NOT NULL,

    "CreatedDate" TEXT NOT NULL,

    "EndTime" TEXT NOT NULL,

    "IsActive" INTEGER NOT NULL,

    "IsCompleted" INTEGER NOT NULL,

    "LastModifiedBy" TEXT NOT NULL,

    "LastModifiedDate" TEXT NOT NULL,

    "LogDate" TEXT NOT NULL,

    "LogNumber" TEXT NOT NULL,

    "MachineUsed" TEXT NOT NULL,

    "Measurement1" TEXT NOT NULL,

    "Measurement2" TEXT NOT NULL,

    "Measurements" TEXT NOT NULL,

    "Notes" TEXT NOT NULL,

    "OperatorInitials" TEXT NOT NULL,

    "OperatorName" TEXT NOT NULL,

    "PartId" INTEGER NULL,

    "PartNumber" TEXT NOT NULL,

    "ProcessParameters" TEXT NOT NULL,

    "ProcessType" TEXT NOT NULL,

    "QualityNotes" TEXT NOT NULL,

    "Quantity" INTEGER NOT NULL,

    "RequiresReview" INTEGER NOT NULL,

    "ReviewNotes" TEXT NOT NULL,

    "ReviewedBy" TEXT NOT NULL,

    "ReviewedDate" TEXT NULL,

    "ScrapIssues" TEXT NOT NULL,

    "Shift" TEXT NOT NULL,

    "StartTime" TEXT NOT NULL,

    "ToleranceStatus" TEXT NOT NULL,

    "TotalTime" TEXT NOT NULL,

    CONSTRAINT "FK_EDMLogs_Parts_PartId" FOREIGN KEY ("PartId") REFERENCES "Parts" ("Id")

);
CREATE INDEX "IX_EDMLogs_PartId" ON "EDMLogs" ("PartId");
CREATE TABLE IF NOT EXISTS "BuildCohorts" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_BuildCohorts" PRIMARY KEY AUTOINCREMENT,

    "BuildJobId" INTEGER NULL,

    "BuildNumber" TEXT NOT NULL,

    "PartCount" INTEGER NOT NULL,

    "Material" TEXT NOT NULL DEFAULT 'Ti-6Al-4V Grade 5',

    "Status" TEXT NOT NULL DEFAULT 'InProgress',

    "CompletedDate" TEXT NULL,

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "Notes" TEXT NULL,

    CONSTRAINT "FK_BuildCohorts_BuildJobs_BuildJobId" FOREIGN KEY ("BuildJobId") REFERENCES "BuildJobs" ("BuildId") ON DELETE SET NULL

);
CREATE TABLE IF NOT EXISTS "JobStageHistories" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_JobStageHistories" PRIMARY KEY AUTOINCREMENT,

    "JobId" INTEGER NOT NULL,

    "ProductionStageId" INTEGER NULL,

    "Action" TEXT NOT NULL,

    "StageName" TEXT NOT NULL,

    "Operator" TEXT NOT NULL,

    "Timestamp" TEXT NOT NULL DEFAULT (datetime('now')),

    "Notes" TEXT NULL,

    "MachineId" TEXT NULL,

    "StageHours" REAL NULL,

    "QualityResult" TEXT NULL,

    CONSTRAINT "FK_JobStageHistories_Jobs_JobId" FOREIGN KEY ("JobId") REFERENCES "Jobs" ("Id") ON DELETE CASCADE,

    CONSTRAINT "FK_JobStageHistories_ProductionStages_ProductionStageId" FOREIGN KEY ("ProductionStageId") REFERENCES "ProductionStages" ("Id") ON DELETE SET NULL

);
CREATE INDEX "IX_ProductionStages_Department" ON "ProductionStages" ("Department");
CREATE INDEX "IX_ProductionStages_DisplayOrder_IsActive" ON "ProductionStages" ("DisplayOrder", "IsActive");
CREATE INDEX "IX_ProductionStages_RequiresMachineAssignment" ON "ProductionStages" ("RequiresMachineAssignment");
CREATE INDEX "IX_ProductionStages_StageColor" ON "ProductionStages" ("StageColor");
CREATE INDEX "IX_BuildCohorts_BuildJobId" ON "BuildCohorts" ("BuildJobId");
CREATE UNIQUE INDEX "IX_BuildCohorts_BuildNumber" ON "BuildCohorts" ("BuildNumber");
CREATE INDEX "IX_BuildCohorts_CompletedDate" ON "BuildCohorts" ("CompletedDate");
CREATE INDEX "IX_BuildCohorts_CreatedDate" ON "BuildCohorts" ("CreatedDate");
CREATE INDEX "IX_BuildCohorts_Material" ON "BuildCohorts" ("Material");
CREATE INDEX "IX_BuildCohorts_Status" ON "BuildCohorts" ("Status");
CREATE INDEX "IX_JobStageHistories_Action" ON "JobStageHistories" ("Action");
CREATE INDEX "IX_JobStageHistories_JobId" ON "JobStageHistories" ("JobId");
CREATE INDEX "IX_JobStageHistories_JobId_Timestamp" ON "JobStageHistories" ("JobId", "Timestamp");
CREATE INDEX "IX_JobStageHistories_MachineId" ON "JobStageHistories" ("MachineId");
CREATE INDEX "IX_JobStageHistories_Operator" ON "JobStageHistories" ("Operator");
CREATE INDEX "IX_JobStageHistories_ProductionStageId" ON "JobStageHistories" ("ProductionStageId");
CREATE INDEX "IX_JobStageHistories_StageName" ON "JobStageHistories" ("StageName");
CREATE INDEX "IX_JobStageHistories_Timestamp" ON "JobStageHistories" ("Timestamp");
CREATE TABLE IF NOT EXISTS "PartClassifications" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_PartClassifications" PRIMARY KEY AUTOINCREMENT,

    "AlternativeMaterials" TEXT NOT NULL DEFAULT '',

    "BafflePosition" TEXT NULL,

    "ClassificationCode" TEXT NOT NULL,

    "ClassificationName" TEXT NOT NULL,

    "ComplexityLevel" INTEGER NOT NULL,

    "ComponentCategory" TEXT NOT NULL,

    "CreatedBy" TEXT NOT NULL,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "Description" TEXT NOT NULL,

    "ExportClassification" TEXT NOT NULL DEFAULT '',

    "FirearmType" TEXT NULL DEFAULT '',

    "IndustryType" TEXT NOT NULL DEFAULT 'Firearms',

    "IsActive" INTEGER NOT NULL,

    "IsBarrelComponent" INTEGER NOT NULL,

    "IsControlledItem" INTEGER NOT NULL,

    "IsEARControlled" INTEGER NOT NULL,

    "IsEndCap" INTEGER NOT NULL,

    "IsFurniture" INTEGER NOT NULL,

    "IsInternalComponent" INTEGER NOT NULL,

    "IsMountingHardware" INTEGER NOT NULL,

    "IsOperatingSystem" INTEGER NOT NULL,

    "IsReceiver" INTEGER NOT NULL,

    "IsSafetyComponent" INTEGER NOT NULL,

    "IsThreadMount" INTEGER NOT NULL,

    "IsTriggerComponent" INTEGER NOT NULL,

    "IsTubeHousing" INTEGER NOT NULL,

    "LastModifiedBy" TEXT NOT NULL,

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "MaterialGrade" TEXT NOT NULL DEFAULT 'Aerospace',

    "PostProcessingRequired" TEXT NOT NULL DEFAULT '',

    "QualityStandards" TEXT NOT NULL DEFAULT '',

    "RecommendedMaterial" TEXT NOT NULL DEFAULT 'Ti-6Al-4V Grade 5',

    "RegulatoryNotes" TEXT NOT NULL DEFAULT '',

    "RequiredProcess" TEXT NOT NULL DEFAULT 'SLS Metal Printing',

    "RequiresATFCompliance" INTEGER NOT NULL,

    "RequiresDimensionalVerification" INTEGER NOT NULL,

    "RequiresFFLTracking" INTEGER NOT NULL,

    "RequiresITARCompliance" INTEGER NOT NULL,

    "RequiresMaterialCertification" INTEGER NOT NULL,

    "RequiresPressureTesting" INTEGER NOT NULL,

    "RequiresProofTesting" INTEGER NOT NULL,

    "RequiresSerialization" INTEGER NOT NULL,

    "RequiresSpecialHandling" INTEGER NOT NULL,

    "RequiresSurfaceFinishVerification" INTEGER NOT NULL,

    "SpecialInstructions" TEXT NOT NULL DEFAULT '',

    "SuppressorType" TEXT NULL,

    "TestingRequirements" TEXT NOT NULL DEFAULT ''

);
CREATE UNIQUE INDEX "IX_PartClassifications_ClassificationCode" ON "PartClassifications" ("ClassificationCode");
CREATE INDEX "IX_PartClassifications_ClassificationName" ON "PartClassifications" ("ClassificationName");
CREATE INDEX "IX_PartClassifications_ComponentCategory" ON "PartClassifications" ("ComponentCategory");
CREATE INDEX "IX_PartClassifications_FirearmType" ON "PartClassifications" ("FirearmType");
CREATE INDEX "IX_PartClassifications_IndustryType" ON "PartClassifications" ("IndustryType");
CREATE INDEX "IX_PartClassifications_IsActive" ON "PartClassifications" ("IsActive");
CREATE INDEX "IX_PartClassifications_RequiresATFCompliance" ON "PartClassifications" ("RequiresATFCompliance");
CREATE INDEX "IX_PartClassifications_RequiresITARCompliance" ON "PartClassifications" ("RequiresITARCompliance");
CREATE INDEX "IX_PartClassifications_RequiresSerialization" ON "PartClassifications" ("RequiresSerialization");
CREATE INDEX "IX_PartClassifications_SuppressorType" ON "PartClassifications" ("SuppressorType");
CREATE TABLE IF NOT EXISTS "ProductionStageDependencies" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_ProductionStageDependencies" PRIMARY KEY AUTOINCREMENT,

    "DependentStageId" INTEGER NOT NULL,

    "PrerequisiteStageId" INTEGER NOT NULL,

    "DependencyType" TEXT NOT NULL DEFAULT 'FinishToStart',

    "DelayHours" INTEGER NOT NULL DEFAULT 0,

    "IsOptional" INTEGER NOT NULL DEFAULT 0,

    "Condition" TEXT NULL,

    "Notes" TEXT NULL,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedDate" TEXT NOT NULL,

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "LastModifiedBy" TEXT NOT NULL DEFAULT 'System',

    "IsActive" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "CK_ProductionStageDependency_NoSelfReference" CHECK (DependentStageId != PrerequisiteStageId),

    CONSTRAINT "FK_ProductionStageDependencies_ProductionStages_DependentStageId" FOREIGN KEY ("DependentStageId") REFERENCES "ProductionStages" ("Id") ON DELETE RESTRICT,

    CONSTRAINT "FK_ProductionStageDependencies_ProductionStages_PrerequisiteStageId" FOREIGN KEY ("PrerequisiteStageId") REFERENCES "ProductionStages" ("Id") ON DELETE RESTRICT

);
CREATE TABLE IF NOT EXISTS "ResourcePools" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_ResourcePools" PRIMARY KEY AUTOINCREMENT,

    "Name" TEXT NOT NULL,

    "Description" TEXT NULL,

    "ResourceType" TEXT NOT NULL DEFAULT 'Machine',

    "ResourceConfiguration" TEXT NOT NULL DEFAULT '[]',

    "MaxConcurrentAllocations" INTEGER NOT NULL DEFAULT 1,

    "AutoAssign" INTEGER NOT NULL DEFAULT 0,

    "AssignmentCriteria" TEXT NULL,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedDate" TEXT NOT NULL,

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "LastModifiedBy" TEXT NOT NULL DEFAULT 'System',

    "IsActive" INTEGER NOT NULL DEFAULT 1

);
CREATE TABLE IF NOT EXISTS "WorkflowTemplates" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_WorkflowTemplates" PRIMARY KEY AUTOINCREMENT,

    "Name" TEXT NOT NULL,

    "Description" TEXT NULL,

    "Category" TEXT NULL,

    "Complexity" TEXT NOT NULL DEFAULT 'Medium',

    "EstimatedDurationHours" REAL NOT NULL DEFAULT 8.0,

    "EstimatedCost" decimal(12,2) NOT NULL DEFAULT '0.0',

    "StageConfiguration" TEXT NOT NULL DEFAULT '[]',

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LastModifiedDate" TEXT NOT NULL,

    "CreatedBy" TEXT NOT NULL DEFAULT 'System',

    "LastModifiedBy" TEXT NOT NULL DEFAULT 'System',

    "IsActive" INTEGER NOT NULL DEFAULT 1

);
CREATE INDEX "IX_ProductionStageDependencies_DependencyType" ON "ProductionStageDependencies" ("DependencyType");
CREATE INDEX "IX_ProductionStageDependencies_DependentStageId" ON "ProductionStageDependencies" ("DependentStageId");
CREATE UNIQUE INDEX "IX_ProductionStageDependencies_DependentStageId_PrerequisiteStageId" ON "ProductionStageDependencies" ("DependentStageId", "PrerequisiteStageId");
CREATE INDEX "IX_ProductionStageDependencies_IsActive" ON "ProductionStageDependencies" ("IsActive");
CREATE INDEX "IX_ProductionStageDependencies_PrerequisiteStageId" ON "ProductionStageDependencies" ("PrerequisiteStageId");
CREATE INDEX "IX_ResourcePools_AutoAssign" ON "ResourcePools" ("AutoAssign");
CREATE INDEX "IX_ResourcePools_IsActive" ON "ResourcePools" ("IsActive");
CREATE INDEX "IX_ResourcePools_Name" ON "ResourcePools" ("Name");
CREATE INDEX "IX_ResourcePools_ResourceType" ON "ResourcePools" ("ResourceType");
CREATE INDEX "IX_ResourcePools_ResourceType_IsActive" ON "ResourcePools" ("ResourceType", "IsActive");
CREATE INDEX "IX_WorkflowTemplates_Category" ON "WorkflowTemplates" ("Category");
CREATE INDEX "IX_WorkflowTemplates_Category_IsActive" ON "WorkflowTemplates" ("Category", "IsActive");
CREATE INDEX "IX_WorkflowTemplates_Complexity" ON "WorkflowTemplates" ("Complexity");
CREATE INDEX "IX_WorkflowTemplates_IsActive" ON "WorkflowTemplates" ("IsActive");
CREATE INDEX "IX_WorkflowTemplates_Name" ON "WorkflowTemplates" ("Name");
CREATE TABLE IF NOT EXISTS "StageDependencies" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_StageDependencies" PRIMARY KEY AUTOINCREMENT,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "DependencyType" TEXT NOT NULL DEFAULT 'FinishToStart',

    "DependentStageId" INTEGER NOT NULL,

    "IsMandatory" INTEGER NOT NULL,

    "LagTimeHours" REAL NOT NULL,

    "Notes" TEXT NULL,

    "RequiredStageId" INTEGER NOT NULL,

    CONSTRAINT "CK_JobStageDependency_NoSelfReference" CHECK (DependentStageId != RequiredStageId),

    CONSTRAINT "FK_StageDependencies_JobStages_DependentStageId" FOREIGN KEY ("DependentStageId") REFERENCES "JobStages" ("Id") ON DELETE RESTRICT,

    CONSTRAINT "FK_StageDependencies_JobStages_RequiredStageId" FOREIGN KEY ("RequiredStageId") REFERENCES "JobStages" ("Id") ON DELETE RESTRICT

);
CREATE TABLE IF NOT EXISTS "PartStageRequirements" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_PartStageRequirements" PRIMARY KEY AUTOINCREMENT,

    "AllowParallelExecution" INTEGER NOT NULL,

    "AssignedMachineId" TEXT NULL,

    "CreatedBy" TEXT NOT NULL,

    "CreatedDate" TEXT NOT NULL,

    "CustomFieldValues" TEXT NOT NULL,

    "EstimatedCost" decimal(10,2) NOT NULL,

    "EstimatedHours" REAL NULL,

    "ExecutionOrder" INTEGER NOT NULL,

    "HourlyRateOverride" decimal(8,2) NULL,

    "IsActive" INTEGER NOT NULL,

    "IsBlocking" INTEGER NOT NULL,

    "IsRequired" INTEGER NOT NULL,

    "LastModifiedBy" TEXT NOT NULL,

    "LastModifiedDate" TEXT NOT NULL,

    "MaterialCost" decimal(10,2) NOT NULL,

    "PartId" INTEGER NOT NULL,

    "PreferredMachineIds" TEXT NULL,

    "ProductionStageId" INTEGER NOT NULL,

    "QualityRequirements" TEXT NOT NULL,

    "RequiredMaterials" TEXT NOT NULL,

    "RequiredTooling" TEXT NOT NULL,

    "RequirementNotes" TEXT NOT NULL,

    "RequiresSpecificMachine" INTEGER NOT NULL,

    "SetupTimeMinutes" INTEGER NULL,

    "SpecialInstructions" TEXT NOT NULL,

    "StageParameters" TEXT NOT NULL,

    "WorkflowTemplateId" INTEGER NULL,

    CONSTRAINT "FK_PartStageRequirements_Parts_PartId" FOREIGN KEY ("PartId") REFERENCES "Parts" ("Id") ON DELETE CASCADE,

    CONSTRAINT "FK_PartStageRequirements_ProductionStages_ProductionStageId" FOREIGN KEY ("ProductionStageId") REFERENCES "ProductionStages" ("Id") ON DELETE CASCADE,

    CONSTRAINT "FK_PartStageRequirements_WorkflowTemplates_WorkflowTemplateId" FOREIGN KEY ("WorkflowTemplateId") REFERENCES "WorkflowTemplates" ("Id") ON DELETE SET NULL

);
CREATE TABLE IF NOT EXISTS "ProductionStageExecutions" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_ProductionStageExecutions" PRIMARY KEY AUTOINCREMENT,

    "ActualCost" decimal(10,2) NULL,

    "ActualHours" decimal(8,2) NULL,

    "ApprovedBy" TEXT NULL,

    "CompletionDate" TEXT NULL,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "EstimatedCost" decimal(10,2) NULL,

    "EstimatedHours" decimal(8,2) NULL,

    "ExecutedBy" TEXT NOT NULL,

    "Improvements" TEXT NULL,

    "Issues" TEXT NULL,

    "LaborCost" decimal(10,2) NULL,

    "MaterialCost" decimal(10,2) NULL,

    "OverheadCost" decimal(10,2) NULL,

    "ProcessParameters" TEXT NOT NULL DEFAULT '{}',

    "ProductionStageId" INTEGER NOT NULL,

    "PrototypeJobId" INTEGER NOT NULL,

    "QualityCheckBy" TEXT NULL,

    "QualityCheckDate" TEXT NULL,

    "QualityCheckPassed" INTEGER NULL,

    "QualityCheckRequired" INTEGER NOT NULL DEFAULT 1,

    "QualityNotes" TEXT NULL,

    "ReviewedBy" TEXT NULL,

    "RunHours" decimal(8,2) NULL,

    "SetupHours" decimal(8,2) NULL,

    "StartDate" TEXT NULL,

    "Status" TEXT NOT NULL DEFAULT 'NotStarted',

    "UpdatedDate" TEXT NULL,

    "WorkflowTemplateId" INTEGER NULL,

    CONSTRAINT "FK_ProductionStageExecutions_ProductionStages_ProductionStageId" FOREIGN KEY ("ProductionStageId") REFERENCES "ProductionStages" ("Id") ON DELETE RESTRICT,

    CONSTRAINT "FK_ProductionStageExecutions_PrototypeJobs_PrototypeJobId" FOREIGN KEY ("PrototypeJobId") REFERENCES "PrototypeJobs" ("Id") ON DELETE CASCADE,

    CONSTRAINT "FK_ProductionStageExecutions_WorkflowTemplates_WorkflowTemplateId" FOREIGN KEY ("WorkflowTemplateId") REFERENCES "WorkflowTemplates" ("Id") ON DELETE SET NULL

);
CREATE INDEX "IX_StageDependencies_DependencyType" ON "StageDependencies" ("DependencyType");
CREATE INDEX "IX_StageDependencies_DependentStageId" ON "StageDependencies" ("DependentStageId");
CREATE INDEX "IX_StageDependencies_RequiredStageId" ON "StageDependencies" ("RequiredStageId");
CREATE INDEX "IX_PartStageRequirements_PartId" ON "PartStageRequirements" ("PartId");
CREATE INDEX "IX_PartStageRequirements_ProductionStageId" ON "PartStageRequirements" ("ProductionStageId");
CREATE INDEX "IX_PartStageRequirements_WorkflowTemplateId" ON "PartStageRequirements" ("WorkflowTemplateId");
CREATE INDEX "IX_ProductionStageExecutions_CompletionDate" ON "ProductionStageExecutions" ("CompletionDate");
CREATE INDEX "IX_ProductionStageExecutions_ExecutedBy" ON "ProductionStageExecutions" ("ExecutedBy");
CREATE INDEX "IX_ProductionStageExecutions_ProductionStageId" ON "ProductionStageExecutions" ("ProductionStageId");
CREATE INDEX "IX_ProductionStageExecutions_PrototypeJobId" ON "ProductionStageExecutions" ("PrototypeJobId");
CREATE UNIQUE INDEX "IX_ProductionStageExecutions_PrototypeJobId_ProductionStageId" ON "ProductionStageExecutions" ("PrototypeJobId", "ProductionStageId");
CREATE INDEX "IX_ProductionStageExecutions_StartDate" ON "ProductionStageExecutions" ("StartDate");
CREATE INDEX "IX_ProductionStageExecutions_Status" ON "ProductionStageExecutions" ("Status");
CREATE INDEX "IX_ProductionStageExecutions_WorkflowTemplateId" ON "ProductionStageExecutions" ("WorkflowTemplateId");
CREATE TABLE IF NOT EXISTS "Jobs" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Jobs" PRIMARY KEY AUTOINCREMENT,

    "ActualEnd" TEXT NULL,

    "ActualPowderUsageKg" REAL NOT NULL,

    "ActualStart" TEXT NULL,

    "ArgonCostPerHour" decimal(10,2) NOT NULL,

    "ArgonPurityPercent" REAL NOT NULL DEFAULT 99.5,

    "BuildCohortId" INTEGER NULL,

    "BuildFileCreatedDate" TEXT NULL,

    "BuildFileName" TEXT NULL,

    "BuildFilePath" TEXT NULL,

    "BuildFileSizeBytes" INTEGER NOT NULL,

    "BuildLayerNumber" INTEGER NOT NULL,

    "BuildPlatformId" TEXT NOT NULL,

    "BuildTemperatureCelsius" REAL NOT NULL DEFAULT 180.0,

    "BuildTimeMinutes" REAL NOT NULL,

    "ChangeoverTimeMinutes" REAL NOT NULL,

    "CoolingTimeMinutes" REAL NOT NULL,

    "CreatedBy" TEXT NOT NULL,

    "CreatedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "CurrentArgonFlowRate" REAL NOT NULL,

    "CurrentBuildTemperature" REAL NOT NULL,

    "CurrentLaserPowerWatts" REAL NOT NULL,

    "CurrentOxygenLevel" REAL NOT NULL,

    "CustomerDueDate" TEXT NULL,

    "CustomerOrderNumber" TEXT NOT NULL DEFAULT '',

    "DefectQuantity" INTEGER NOT NULL,

    "DensityPercentage" REAL NOT NULL,

    "EnergyConsumptionKwh" REAL NOT NULL,

    "EstimatedDuration" TEXT NOT NULL,

    "EstimatedHours" REAL NOT NULL,

    "EstimatedPowderUsageKg" REAL NOT NULL DEFAULT 0.5,

    "HatchSpacingMicrons" REAL NOT NULL DEFAULT 120.0,

    "HoldReason" TEXT NOT NULL,

    "IsRushJob" INTEGER NOT NULL,

    "LaborCostPerHour" decimal(10,2) NOT NULL,

    "LaserPowerWatts" REAL NOT NULL DEFAULT 170.0,

    "LastModifiedBy" TEXT NOT NULL,

    "LastModifiedDate" TEXT NOT NULL DEFAULT (datetime('now')),

    "LayerThicknessMicrons" REAL NOT NULL DEFAULT 30.0,

    "MachineId" TEXT NOT NULL,

    "MachineOperatingCostPerHour" decimal(10,2) NOT NULL,

    "MachineUtilizationPercent" REAL NOT NULL,

    "MaterialCostPerKg" decimal(10,2) NOT NULL,

    "Notes" TEXT NULL,

    "OpcUaBuildProgress" REAL NOT NULL,

    "OpcUaErrorMessages" TEXT NULL,

    "OpcUaJobId" TEXT NULL,

    "OpcUaLastUpdate" TEXT NULL,

    "OpcUaStatus" TEXT NULL,

    "Operator" TEXT NULL,

    "OxygenContentPpm" REAL NOT NULL DEFAULT 50.0,

    "PartId" INTEGER NOT NULL,

    "PartNumber" TEXT NOT NULL,

    "PostProcessingTimeMinutes" REAL NOT NULL,

    "PowderChangeoverTimeMinutes" REAL NOT NULL,

    "PowderExpirationDate" TEXT NULL,

    "PowderLotNumber" TEXT NOT NULL,

    "PowderRecyclePercentage" REAL NOT NULL,

    "PowerCostPerKwh" decimal(10,2) NOT NULL,

    "PreheatingTimeMinutes" REAL NOT NULL,

    "PreviousJobPartNumber" TEXT NULL,

    "Priority" INTEGER NOT NULL DEFAULT 3,

    "ProcessParameters" TEXT NOT NULL,

    "ProducedQuantity" INTEGER NOT NULL,

    "QualityCheckpoints" TEXT NOT NULL,

    "QualityInspector" TEXT NULL,

    "Quantity" INTEGER NOT NULL,

    "RequiredMaterials" TEXT NOT NULL,

    "RequiredSkills" TEXT NOT NULL,

    "RequiredTooling" TEXT NOT NULL,

    "RequiresArgonPurge" INTEGER NOT NULL,

    "RequiresPostProcessing" INTEGER NOT NULL,

    "RequiresPowderSieving" INTEGER NOT NULL,

    "RequiresPreheating" INTEGER NOT NULL,

    "ReworkQuantity" INTEGER NOT NULL,

    "ScanSpeedMmPerSec" REAL NOT NULL DEFAULT 1000.0,

    "ScheduledEnd" TEXT NOT NULL,

    "ScheduledStart" TEXT NOT NULL,

    "SetupTimeMinutes" REAL NOT NULL,

    "SlsMaterial" TEXT NOT NULL,

    "SpecialInstructions" TEXT NOT NULL,

    "StageOrder" INTEGER NULL,

    "Status" TEXT NOT NULL,

    "Supervisor" TEXT NULL,

    "SurfaceRoughnessRa" REAL NOT NULL,

    "TotalStages" INTEGER NULL,

    "UltimateTensileStrengthMPa" REAL NOT NULL,

    "WorkflowStage" TEXT NULL,

    CONSTRAINT "FK_Jobs_BuildCohorts_BuildCohortId" FOREIGN KEY ("BuildCohortId") REFERENCES "BuildCohorts" ("Id") ON DELETE SET NULL,

    CONSTRAINT "FK_Jobs_Parts_PartId" FOREIGN KEY ("PartId") REFERENCES "Parts" ("Id") ON DELETE CASCADE

);
CREATE INDEX "IX_Jobs_BuildCohortId" ON "Jobs" ("BuildCohortId");
CREATE INDEX "IX_Jobs_BuildCohortId_StageOrder" ON "Jobs" ("BuildCohortId", "StageOrder");
CREATE INDEX "IX_Jobs_MachineId_ScheduledStart" ON "Jobs" ("MachineId", "ScheduledStart");
CREATE INDEX "IX_Jobs_PartId" ON "Jobs" ("PartId");
CREATE INDEX "IX_Jobs_PartNumber" ON "Jobs" ("PartNumber");
CREATE INDEX "IX_Jobs_Priority" ON "Jobs" ("Priority");
CREATE INDEX "IX_Jobs_StageOrder" ON "Jobs" ("StageOrder");
CREATE INDEX "IX_Jobs_Status" ON "Jobs" ("Status");
CREATE INDEX "IX_Jobs_WorkflowStage" ON "Jobs" ("WorkflowStage");
CREATE INDEX "IX_Jobs_WorkflowStage_Status" ON "Jobs" ("WorkflowStage", "Status");
CREATE TABLE IF NOT EXISTS "BuildTimeLearningData" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_BuildTimeLearningData" PRIMARY KEY AUTOINCREMENT,

    "BuildJobId" INTEGER NOT NULL,

    "MachineId" TEXT NOT NULL,

    "BuildFileHash" TEXT NULL,

    "OperatorEstimatedHours" TEXT NOT NULL,

    "ActualHours" TEXT NOT NULL,

    "VariancePercent" TEXT NOT NULL,

    "SupportComplexity" TEXT NULL,

    "TimeFactors" TEXT NULL,

    "QualityScore" TEXT NOT NULL,

    "DefectCount" INTEGER NOT NULL DEFAULT 0,

    "BuildHeight" TEXT NULL,

    "LayerCount" INTEGER NULL,

    "TotalParts" INTEGER NOT NULL DEFAULT 1,

    "PartOrientations" TEXT NULL,

    "RecordedAt" TEXT NOT NULL DEFAULT (datetime('now')),

    CONSTRAINT "FK_BuildTimeLearningData_BuildJobs_BuildJobId" FOREIGN KEY ("BuildJobId") REFERENCES "BuildJobs" ("BuildId") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "OperatorEstimateLogs" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_OperatorEstimateLogs" PRIMARY KEY AUTOINCREMENT,

    "BuildJobId" INTEGER NOT NULL,

    "EstimatedHours" TEXT NOT NULL,

    "TimeFactors" TEXT NULL,

    "OperatorNotes" TEXT NULL,

    "LoggedAt" TEXT NOT NULL DEFAULT (datetime('now')),

    CONSTRAINT "FK_OperatorEstimateLogs_BuildJobs_BuildJobId" FOREIGN KEY ("BuildJobId") REFERENCES "BuildJobs" ("BuildId") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "PartCompletionLogs" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_PartCompletionLogs" PRIMARY KEY AUTOINCREMENT,

    "BuildJobId" INTEGER NOT NULL,

    "PartNumber" TEXT NOT NULL,

    "Quantity" INTEGER NOT NULL,

    "GoodParts" INTEGER NOT NULL,

    "DefectiveParts" INTEGER NOT NULL,

    "ReworkParts" INTEGER NOT NULL,

    "QualityRate" TEXT NOT NULL,

    "IsPrimary" INTEGER NOT NULL DEFAULT 0,

    "InspectionNotes" TEXT NULL,

    "CompletedAt" TEXT NOT NULL DEFAULT (datetime('now')),

    CONSTRAINT "FK_PartCompletionLogs_BuildJobs_BuildJobId" FOREIGN KEY ("BuildJobId") REFERENCES "BuildJobs" ("BuildId") ON DELETE CASCADE

);
CREATE INDEX "IX_BuildTimeLearningData_BuildFileHash" ON "BuildTimeLearningData" ("BuildFileHash");
CREATE INDEX "IX_BuildTimeLearningData_BuildFileHash_SupportComplexity" ON "BuildTimeLearningData" ("BuildFileHash", "SupportComplexity");
CREATE INDEX "IX_BuildTimeLearningData_BuildJobId" ON "BuildTimeLearningData" ("BuildJobId");
CREATE INDEX "IX_BuildTimeLearningData_MachineId" ON "BuildTimeLearningData" ("MachineId");
CREATE INDEX "IX_BuildTimeLearningData_MachineId_BuildFileHash" ON "BuildTimeLearningData" ("MachineId", "BuildFileHash");
CREATE INDEX "IX_BuildTimeLearningData_MachineId_SupportComplexity" ON "BuildTimeLearningData" ("MachineId", "SupportComplexity");
CREATE INDEX "IX_BuildTimeLearningData_MachineId_TotalParts_SupportComplexity" ON "BuildTimeLearningData" ("MachineId", "TotalParts", "SupportComplexity");
CREATE INDEX "IX_BuildTimeLearningData_QualityScore" ON "BuildTimeLearningData" ("QualityScore");
CREATE INDEX "IX_BuildTimeLearningData_RecordedAt" ON "BuildTimeLearningData" ("RecordedAt");
CREATE INDEX "IX_BuildTimeLearningData_SupportComplexity" ON "BuildTimeLearningData" ("SupportComplexity");
CREATE INDEX "IX_OperatorEstimateLogs_BuildJobId" ON "OperatorEstimateLogs" ("BuildJobId");
CREATE INDEX "IX_OperatorEstimateLogs_EstimatedHours" ON "OperatorEstimateLogs" ("EstimatedHours");
CREATE INDEX "IX_OperatorEstimateLogs_LoggedAt" ON "OperatorEstimateLogs" ("LoggedAt");
CREATE INDEX "IX_PartCompletionLogs_BuildJobId" ON "PartCompletionLogs" ("BuildJobId");
CREATE INDEX "IX_PartCompletionLogs_BuildJobId_PartNumber" ON "PartCompletionLogs" ("BuildJobId", "PartNumber");
CREATE INDEX "IX_PartCompletionLogs_CompletedAt" ON "PartCompletionLogs" ("CompletedAt");
CREATE INDEX "IX_PartCompletionLogs_IsPrimary" ON "PartCompletionLogs" ("IsPrimary");
CREATE INDEX "IX_PartCompletionLogs_PartNumber" ON "PartCompletionLogs" ("PartNumber");
CREATE TABLE IF NOT EXISTS "Parts" (
	"Id"	INTEGER NOT NULL,
	"AdminEstimatedHoursOverride"	REAL,
	"AdminOverrideBy"	TEXT NOT NULL DEFAULT '',
	"AdminOverrideDate"	REAL,
	"AdminOverrideReason"	BLOB DEFAULT '',
	"Application"	TEXT,
	"ArgonCostPerHour"	decimal(10, 2),
	"AverageActualHours"	REAL,
	"AverageCostPerUnit"	decimal(10, 2),
	"AverageDefectRate"	REAL,
	"AverageEfficiencyPercent"	REAL,
	"AveragePowderUtilization"	REAL,
	"AverageQualityScore"	REAL,
	"AvgDuration"	TEXT DEFAULT '8h 0m',
	"AvgDurationDays"	INTEGER,
	"BTQualityStandards"	TEXT DEFAULT '',
	"BTRegulatoryNotes"	TEXT DEFAULT '',
	"BTTestingRequirements"	TEXT DEFAULT '',
	"BuildFileTemplate"	TEXT DEFAULT '',
	"CadFilePath"	TEXT DEFAULT '',
	"CadFileVersion"	TEXT DEFAULT '',
	"ComponentType"	TEXT DEFAULT '',
	"ConsumableMaterials"	TEXT DEFAULT 'Argon Gas,Build Platform Coating',
	"CoolingTimeMinutes"	REAL,
	"CreatedBy"	TEXT NOT NULL,
	"CreatedDate"	REAL NOT NULL DEFAULT (datetime('now')),
	"CustomerPartNumber"	TEXT DEFAULT '',
	"Description"	TEXT NOT NULL,
	"Dimensions"	TEXT NOT NULL DEFAULT '',
	"EstimatedHours"	REAL NOT NULL,
	"ExportClassification"	TEXT DEFAULT '',
	"FirearmType"	TEXT DEFAULT '',
	"HeightMm"	REAL NOT NULL,
	"Industry"	TEXT,
	"IsActive"	INTEGER,
	"IsControlledItem"	INTEGER,
	"IsEARControlled"	INTEGER,
	"LastModifiedBy"	TEXT,
	"LastModifiedDate"	REAL DEFAULT (datetime('now')),
	"LastProduced"	TEXT,
	"LengthMm"	REAL NOT NULL,
	"MachineOperatingCostPerHour"	decimal(10, 2),
	"Material"	TEXT NOT NULL,
	"MaterialCostPerKg"	decimal(12, 2),
	"MaxOxygenContent"	REAL,
	"MaxSurfaceRoughnessRa"	REAL,
	"Name"	TEXT NOT NULL,
	"PartCategory"	TEXT DEFAULT 'Prototype',
	"PartClass"	TEXT DEFAULT 'B',
	"PartClassificationId"	INTEGER,
	"PartNumber"	TEXT,
	"PostProcessingCost"	decimal(10, 2),
	"PostProcessingTimeMinutes"	REAL,
	"PowderChangeoverTimeMinutes"	REAL,
	"PowderRequirementKg"	REAL,
	"PowderSpecification"	TEXT DEFAULT '15-45 micron particle size',
	"PreferredMachines"	TEXT DEFAULT 'TI1,TI2',
	"PreheatingTimeMinutes"	REAL,
	"ProcessParameters"	TEXT DEFAULT '{}',
	"ProcessType"	TEXT DEFAULT 'SLS Metal',
	"QualityCheckpoints"	TEXT DEFAULT '{}',
	"QualityInspectionCost"	decimal(10, 2),
	"QualityStandards"	TEXT DEFAULT 'ASTM F3001, ISO 17296',
	"RecommendedBuildTemperature"	REAL,
	"RecommendedHatchSpacing"	REAL,
	"RecommendedLaserPower"	REAL,
	"RecommendedLayerThickness"	REAL,
	"RecommendedScanSpeed"	REAL,
	"RequiredArgonPurity"	REAL,
	"RequiredCertifications"	TEXT DEFAULT 'SLS Operation Certification',
	"RequiredMachineType"	TEXT DEFAULT 'TruPrint 3000',
	"RequiredSkills"	TEXT DEFAULT 'SLS Operation,Powder Handling',
	"RequiredTooling"	TEXT DEFAULT 'Build Platform,Powder Sieve',
	"RequiresAS9100"	INTEGER,
	"RequiresATFCompliance"	INTEGER,
	"RequiresCertification"	INTEGER,
	"RequiresDimensionalVerification"	INTEGER,
	"RequiresFDA"	INTEGER,
	"RequiresFFLTracking"	INTEGER,
	"RequiresITARCompliance"	INTEGER,
	"RequiresInspection"	INTEGER,
	"RequiresMaterialCertification"	INTEGER,
	"RequiresNADCAP"	INTEGER,
	"RequiresPressureTesting"	INTEGER,
	"RequiresProofTesting"	INTEGER,
	"RequiresSerialization"	INTEGER,
	"RequiresSupports"	INTEGER,
	"RequiresSurfaceFinishVerification"	INTEGER,
	"SetupCost"	decimal(10, 2),
	"SetupTimeMinutes"	REAL,
	"SlsMaterial"	TEXT,
	"StandardLaborCostPerHour"	decimal(10, 2),
	"StandardSellingPrice"	decimal(10, 2),
	"SupportRemovalTimeMinutes"	REAL,
	"SupportStrategy"	TEXT DEFAULT 'Minimal supports on overhangs > 45┬░',
	"SurfaceFinishRequirement"	TEXT DEFAULT 'As-built',
	"ToleranceRequirements"	TEXT DEFAULT '┬▒0.1mm typical',
	"TotalJobsCompleted"	INTEGER,
	"TotalUnitsProduced"	INTEGER,
	"VolumeMm3"	REAL,
	"WeightGrams"	REAL,
	"WidthMm"	REAL,
	"ATFClassification"	TEXT DEFAULT '',
	"ApprovalWorkflow"	TEXT DEFAULT '',
	"BTBackPressurePSI"	REAL,
	"BTBafflePosition"	TEXT DEFAULT '',
	"BTCaliberCompatibility"	TEXT DEFAULT '',
	"BTComponentType"	TEXT DEFAULT '',
	"BTFirearmCategory"	TEXT DEFAULT '',
	"BTLicensingCost"	decimal(10, 2) DEFAULT '0.0',
	"BTQualitySpecification"	TEXT DEFAULT '',
	"BTSoundReductionDB"	REAL,
	"BTSuppressorType"	TEXT DEFAULT '',
	"BTTestingProtocol"	TEXT DEFAULT '',
	"BTThreadPitch"	TEXT DEFAULT '',
	"BatchControlMethod"	TEXT DEFAULT '',
	"ChildComponents"	TEXT DEFAULT '',
	"ComplianceCost"	decimal(10, 2) DEFAULT '0.0',
	"DocumentationCost"	decimal(10, 2) DEFAULT '0.0',
	"EARClassification"	TEXT DEFAULT '',
	"ExportControlNotes"	TEXT DEFAULT '',
	"FFLRequirements"	TEXT DEFAULT '',
	"ITARCategory"	TEXT DEFAULT '',
	"IsAssemblyComponent"	INTEGER DEFAULT 0,
	"IsSubAssembly"	INTEGER DEFAULT 0,
	"ManufacturingStage"	TEXT DEFAULT '',
	"MaxBatchSize"	INTEGER DEFAULT 0,
	"ParentComponents"	TEXT DEFAULT '',
	"ProofTestPressure"	REAL,
	"RequiresATFForm1"	INTEGER DEFAULT 0,
	"RequiresATFForm4"	INTEGER DEFAULT 0,
	"RequiresAssembly"	INTEGER DEFAULT 0,
	"RequiresBTProofTesting"	INTEGER DEFAULT 0,
	"RequiresBackPressureTesting"	INTEGER DEFAULT 0,
	"RequiresCNCMachining"	INTEGER DEFAULT 0,
	"RequiresComplianceApproval"	INTEGER DEFAULT 0,
	"RequiresEDMOperations"	INTEGER DEFAULT 0,
	"RequiresEngineeringApproval"	INTEGER DEFAULT 0,
	"RequiresExportLicense"	INTEGER DEFAULT 0,
	"RequiresFinishing"	INTEGER DEFAULT 0,
	"RequiresQualityApproval"	INTEGER DEFAULT 0,
	"RequiresSLSPrinting"	INTEGER DEFAULT 0,
	"RequiresSoundTesting"	INTEGER DEFAULT 0,
	"RequiresTaxStamp"	INTEGER DEFAULT 0,
	"RequiresThreadVerification"	INTEGER DEFAULT 0,
	"RequiresTraceabilityDocuments"	INTEGER DEFAULT 0,
	"RequiresUniqueSerialNumber"	INTEGER DEFAULT 0,
	"SerialNumberFormat"	TEXT DEFAULT '',
	"StageDetails"	TEXT DEFAULT '',
	"StageOrder"	INTEGER DEFAULT 0,
	"TaxStampAmount"	decimal(10, 2),
	"TestingCost"	decimal(10, 2) DEFAULT '0.0',
	"WorkflowTemplate"	TEXT DEFAULT '',
	CONSTRAINT "PK_Parts" PRIMARY KEY("Id" AUTOINCREMENT),
	CONSTRAINT "FK_Parts_PartClassifications_PartClassificationId" FOREIGN KEY("PartClassificationId") REFERENCES "PartClassifications"("Id") ON DELETE SET NULL
);
CREATE INDEX "IX_Parts_BTCompliance_Composite" ON "Parts" ("RequiresATFCompliance", "RequiresITARCompliance", "RequiresSerialization", "IsActive");
CREATE INDEX "IX_Parts_BTSearch_Composite" ON "Parts" ("PartNumber", "ComponentType", "FirearmType", "ExportClassification");
CREATE INDEX "IX_Parts_BTTesting_Composite" ON "Parts" ("RequiresPressureTesting", "RequiresProofTesting", "RequiresDimensionalVerification", "IsActive");
CREATE INDEX "IX_Parts_Classification_Material" ON "Parts" ("PartClassificationId", "Material", "IsActive");
CREATE INDEX "IX_Parts_ComponentFirearm_Composite" ON "Parts" ("ComponentType", "FirearmType", "IsActive");
CREATE INDEX "IX_Parts_ComponentType" ON "Parts" ("ComponentType");
CREATE INDEX "IX_Parts_CreatedDate" ON "Parts" ("CreatedDate");
CREATE INDEX "IX_Parts_CrossReference" ON "Parts" ("PartNumber", "CustomerPartNumber", "PartClassificationId", "IsActive");
CREATE INDEX "IX_Parts_CustomerPartNumber" ON "Parts" ("CustomerPartNumber");
CREATE INDEX "IX_Parts_ExportControl_Composite" ON "Parts" ("IsEARControlled", "IsControlledItem", "ExportClassification", "IsActive");
CREATE INDEX "IX_Parts_FirearmType" ON "Parts" ("FirearmType");
CREATE INDEX "IX_Parts_Industry" ON "Parts" ("Industry");
CREATE INDEX "IX_Parts_IsActive" ON "Parts" ("IsActive");
CREATE INDEX "IX_Parts_Material" ON "Parts" ("Material");
CREATE INDEX "IX_Parts_Name" ON "Parts" ("Name");
CREATE INDEX "IX_Parts_PartCategory" ON "Parts" ("PartCategory");
CREATE INDEX "IX_Parts_PartClassificationId" ON "Parts" ("PartClassificationId");
CREATE INDEX "IX_Parts_PartClassification_Enhanced" ON "Parts" ("PartClassificationId", "ComponentType", "IsActive");
CREATE UNIQUE INDEX "IX_Parts_PartNumber" ON "Parts" ("PartNumber");
CREATE INDEX "IX_Parts_ProcessType" ON "Parts" ("ProcessType");
CREATE INDEX "IX_Parts_RequiredMachineType" ON "Parts" ("RequiredMachineType");
CREATE INDEX "IX_Parts_RequiresATFCompliance" ON "Parts" ("RequiresATFCompliance");
CREATE INDEX "IX_Parts_RequiresITARCompliance" ON "Parts" ("RequiresITARCompliance");
CREATE INDEX "IX_Parts_RequiresSerialization" ON "Parts" ("RequiresSerialization");
CREATE INDEX "IX_Parts_SlsMaterial" ON "Parts" ("SlsMaterial");
